[2020-08-19 21:28] JimBugwadia opened #229 "Policy to block access to secrets"
See: https://github.com/kubernetes/kubernetes/issues/76954

Explore options to block access to secrets within a namespace, in addition to disallowing exec (see: https://github.com/nirmata/kyverno/issues/1069).

[2020-12-07 02:05] JimBugwadia opened #2 "Migrate best-practices and other policies"
Move remaining sample policies (from https://github.com/kyverno/kyverno/blob/main/samples/README.md) to new repo.

[2020-12-07 02:24] JimBugwadia opened #3 "re-organize tests"
would be good to allow multiple success and failure cases and automate execution.

[2020-12-07 02:24] JimBugwadia opened #4 "investigate options for sample policies"

[2020-12-07 15:48] chipzoller commented on #2
Migrated as-is to this repo.

[2020-12-07 15:48] #2 closed

[2020-12-07 16:01] chipzoller commented on #2
I can do that into a directory called `other` for simplicity. Ultimately I think we'll have to change this, but for now it'll do.

[2020-12-08 13:11] chipzoller commented on #3
Can you expound on what you mean here, at least on the "multiple success and failure cases"?

[2020-12-10 14:19] chipzoller commented on #4
Would we be receptive to the idea of building policies out as a separate static site with a separate Hugo theme? I think that's going to give us the most freedom in pursuing the best UX with regard to tags and finding files.

[2020-12-10 22:30] realshuting commented on #3
Will this repo eventually replace what we have in https://github.com/kyverno/kyverno/tree/main/samples?

How can we trigger the tests again each push in kyverno/kyverno?

[2020-12-11 00:23] chipzoller commented on #3
Yes, that's the idea. We need to figure out the test scenario. Eventually, it'd be nice if every policy had an accompanying test manifest that could be used in a pipeline.

[2020-12-11 06:24] JimBugwadia commented on #3
@realshuting - we can add this repo to the kyverno/kyverno repo as a [sub-module](https://git-scm.com/book/en/v2/Git-Tools-Submodules) and invoke tests.

@chipzoller - was thinking that we can have a `test.yaml` that looks something like this:

[code]

The idea would be to allow testing different cases and variations.

May be good to organize each policy in its own sub-folder with this YAML, a kus

[2020-12-12 14:52] chipzoller opened #6 "Simplify samples policies"
Need to standardize on how to write policies in the most simple and efficient manner possible. This is not only to reduce complexity but to be effective teaching aids for new users. The following are examples of how to do this:

* Remove double quotes from strings
* Remove `name: "*"` items from rules when not needed
* Minimize indentation of dictionary keys

[2020-12-16 01:13] realshuting commented on #3
Link to https://github.com/kyverno/kyverno/issues/1271.

[2020-12-16 18:15] chipzoller commented on #4
Further to this month's meeting, some of the requirements we fleshed out were:

- Desire by users to apply, in GitOps fashion, curated standards like Pod Security Standards. This need entails organization of constituent policies into their own folder structure so Kustomize can process them accordingly.
- Need to ensure consistency and a system for automating unit tests (pass/fail) of each policy t

[2021-01-01 22:25] #6 closed

[2021-01-02 15:22] chipzoller opened #10 "Turn website examples into policies"
Whole examples used on the website could/should eventually be turned into policies and stored in this repo.

[2021-02-11 01:36] chipzoller opened #18 "Disallow secrets needs tweaking"
https://github.com/kyverno/policies/blob/main/other/disallow_secrets_from_env_vars.yaml

Needs rule addition to block `envFrom` statements.

[2021-02-15 18:17] chipzoller opened #19 "Standardize annotation category for "Best Practices""
Annotation for category is inconsistent. Some with "Best Practice" others with "Best Practices". Fix.

[2021-02-27 02:03] lalalawoo opened #22 "drop-all-capabilities policy reports violation on initContainer even initContainer not exist"
**Kyverno version**
* Kubernetes version: v1.18.6
* Kyverno version: v1.3.3

**Describe the issue**
Policy [drop-all-capabilities](https://github.com/kyverno/policies/blob/main/best-practices/require_drop_all.yaml) would report violation on initContainer even initContainer not exist in the yaml

[code]

**Expected behavior**
If initContainer is not configured, then no policy violation should be re

[2021-02-27 02:04] lalalawoo commented on #22
@realshuting

[2021-04-01 10:00] ssvinarev opened #32 "Restrict volume types"
Hi!

In this example:
[https://github.com/kyverno/policies/blob/main/pod-security/restricted/restrict-volume-types/restrict-volume-types.yaml](url)
a huge list of NOT allowed volume types described.

I'm stuck trying to describe a list of ONLY allowed volume types using available anchors and operators of kyverno.
I need to write a rule that reads like:
"If a volume is defined then the type of it c

[2021-04-12 00:37] JimBugwadia commented on #19
this has been fixed.

[2021-04-12 00:37] #19 closed

[2021-04-12 00:49] JimBugwadia commented on #32
Hi @ssvinarev - since the volume type is an object, this may be a bit tricky to do using an include / allow list.

Have you tried using an `anyPattern` and to define the types of volumes you want to allow.

[code]

https://kyverno.io/docs/writing-policies/validate/#anypattern---logical-or-across-multiple-validation-patterns

[2021-04-14 23:00] chipzoller opened #35 "GitHub action to rebuild website MD files upon pushes"
Need a GitHub action for this repo which:

1. Detects commits to kyverno/policies
2. Runs the `render` program on kyverno/website
3. Generates the new Markdown files
4. Pushes those to kyverno/website in /content/en/policies (should wipe contents first!)

Need to handle other files in /content/en/policies to account for tests and kustomize manifests.

[2021-04-15 14:04] chipzoller commented on #22
@lalalawoo So sorry for the late reply here. This policy needs to be modified so that `initContainers` is optional like it's shown [here](https://kyverno.io/policies/pod-security/default/disallow-adding-capabilities/disallow-adding-capabilities/). Let us know if you still need any help here or find us on #kyverno in Kubernetes Slack.

[2021-04-16 03:42] JimBugwadia opened #37 "Restrict namespaces via configmap"
See example at: https://github.com/kyverno/kyverno/issues/1750#issuecomment-819955180

[2021-04-16 23:53] JimBugwadia opened #39 "Update Pod Security Standards "Default" to "Baseline""
This was renamed at: https://kubernetes.io/docs/concepts/security/pod-security-standards/

[2021-04-17 16:37] chipzoller commented on #22
Closing issue since the source policy was updated. If you're still having issues, feel free to comment.

[2021-04-17 16:37] #22 closed

[2021-04-18 13:52] chipzoller commented on #32
Hi @ssvinarev I think Jim's suggestion is a good approach and so I'm going to close this issue. If you still need help with adapting either one of these, please either re-open or come see us in the #kyverno Kubernetes Slack channel.

[2021-04-18 13:52] #32 closed

[2021-04-18 13:57] chipzoller opened #43 "Add simple mutate policy covering adding a label"
Create a sample policy covering a simple mutation example for adding a label to incoming objects. Although simple, this is a very common request in the community and is a nice introduction to mutations.

[2021-04-18 17:19] #4 closed

[2021-04-18 20:38] chipzoller opened #44 "Add policy for requiring images use SHA checksums over tags"
Create a sample policy that enforces all images should use checksums instead of tags.

[2021-04-18 23:41] #39 closed

[2021-04-19 00:57] #18 closed

[2021-04-19 00:57] #37 closed

[2021-04-19 00:57] #43 closed

[2021-04-19 00:57] #44 closed

[2021-04-19 01:46] chipzoller opened #45 "Add policy for Secret copier/syncher"
https://neonmirrors.net/post/2021-01/kyverno-the-swiss-army-knife-of-kubernetes/#secret-copiersyncher

[2021-04-19 01:48] chipzoller opened #46 "Add policy to block updates and deletes on resources"
https://neonmirrors.net/post/2021-01/kyverno-the-swiss-army-knife-of-kubernetes/#resource-padlock

[2021-04-19 12:25] chipzoller opened #47 "Fix require non-root groups"
Per [this ](https://kubernetes.slack.com/archives/CLGR9BJU9/p1618835081418400?thread_ts=1618559461.356400&cid=CLGR9BJU9) discussion.

https://kyverno.io/policies/pod-security/restricted/require-non-root-groups/require-non-root-groups/

[2021-04-19 12:27] chipzoller opened #48 "Add newer taint to restrict control plane scheduling"
https://kyverno.io/policies/other/restrict_controlplane_scheduling/

Additional taint (1.20+) should be `node-role.kubernetes.io/control-plane`

[2021-04-19 13:48] chipzoller commented on #48
Existing policy also has a bug.

[2021-04-19 14:01] chipzoller commented on #48
Created https://github.com/kyverno/kyverno/issues/1820 since it came out of this issue.

[2021-04-20 02:30] #47 closed

[2021-04-20 02:31] #45 closed

[2021-04-20 02:31] #46 closed

[2021-04-20 02:32] JimBugwadia opened #51 "Policy to disallow x-y range ports for service binding"
See: https://www.reddit.com/r/kubernetes/comments/mtucy4/53_kyverno_policies_including_pod_security/

[2021-05-03 12:42] treydock opened #54 "require_drop_all policy tests are failing"
While working on https://github.com/kyverno/kyverno/pull/1866 I noticed the following when Kyverno main repo runs the test subcommand:

[code]

I do not know if this is an issue with the policy, policy test or with Kyverno.

[2021-05-03 15:59] chipzoller commented on #51
Probably going to need the `forEach` function (since `svc.spec.ports` is an array of objects) as well as a range function, right @JimBugwadia ?

[2021-05-03 22:12] #54 closed

[2021-05-08 13:01] chipzoller commented on #51
Can you confirm my suspicion that such a policy isn't possible currently?

[2021-05-10 17:15] realshuting opened #58 "Add tests to cover sample policy change"
We need to update `test.yaml` to cover this change https://github.com/kyverno/policies/pull/57.

[2021-05-14 19:11] JimBugwadia commented on #51
Hi @chipzoller - I was thinking that this request is for `networkpolicy.spec.ingress.ports`, but am not sure.

For `networkpolicy.spec.ingress.ports` it should be possible to provide a validation pattern with a list of allowed values without requiring a `forEach`.

We would need to test if the list options are flexible enough to do something like this:

[code]

[2021-05-14 20:03] chipzoller commented on #51
What I was specifically referring to was the range. For example, this doesn't seem to work:

[code]

`svc.yaml`
[code]

[2021-05-15 03:48] JimBugwadia commented on #51
Hmm, ok. I recall discussing this with Max. Will log a bug and check.

[2021-05-25 06:47] JimBugwadia opened #64 "Add sample to drop CAP_NET_RAW"
See: https://twitter.com/mrgcastle/status/1396108915109101575

[2021-05-25 06:52] JimBugwadia commented on #64
More at:

https://blog.aquasec.com/dns-spoofing-kubernetes-clusters

https://snyk.io/blog/kubernetes-securitycontext-linux-capabilities/

https://www.stackrox.com/post/2020/06/mitigating-kubernetes-cve-2020-10749/

[2021-06-04 16:44] JimBugwadia opened #65 "Add sample to check imagePullSecrets based on the registry"
See: https://kubernetes.slack.com/archives/CLGR9BJU9/p1622749892231800?thread_ts=1622729028.223700&cid=CLGR9BJU9

[code]

[2021-06-07 13:29] chipzoller commented on #64
Do you think we need a separate policy for this if there's the [require drop all policy](https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all/)?

[2021-06-09 05:02] #65 closed

[2021-06-17 12:20] maartenvdezz opened #67 "Set read-only = true on VolumeMounts that are connected to hostPath volumes with a certain path"
We want to create a Kyverno policy that whitelists certain hostPath volume paths.

Therefore, we use:
[code]

But, we also want to validate with this policy that all VolumeMounts that are mounted to the volumes with the _/test/path_ path to be read-only. Is this possible in Kyverno?

Based on the documentation, it looks like this is not possible with the logic that is supported.

[2021-06-19 15:09] viveksahu26 opened #68 "In policy, kind attribute is missing in resource element"
[This](https://github.com/kyverno/policies/blob/main/other/block_updates_deletes.yaml) policy and one of the [examples](https://kyverno.io/docs/writing-policies/match-exclude/#match-a-label-and-exclude-users-and-roles), contains a resource element but not a kind attribute.  Whereas it is mention in the [documentatio](https://kyverno.io/docs/writing-policies/match-exclude/)n that while working with

[2021-06-20 15:06] #58 closed

[2021-06-25 21:32] FernFerret opened #69 "[BUG] The disallow-adding-capabilities incorrectly specifies null instead of "null""
The `disallow-adding-capabilities` policy uses `null` instead of `"null"`. Because of this, it doesn't actually enforce disallowing adding capabilities and instead I was able to add `NET_ADMIN` like so:

[code]

Once I fixed the policy to `"null"` the property was correctly enforced.

When set to `null` and applied, you can note that the rendered pattern spec is:

[code]

[2021-06-25 21:38] FernFerret commented on #69
I just noted that the tests **pass** even for this case where the policy is incorrect.
[code]

I'm preparing a PR and the tests still pass, but I believe they should have failed in this case. I'm using kyverno `1.4.1`

[2021-06-25 21:42] realshuting commented on #69
Thank you @FernFerret for reporting the issue.

Yes, looks like we need to update the sample policy in this repo. And can you please log a separate issue in repo `kyverno/kyverno`? We'll investigate and address this issue.

[2021-06-25 21:45] FernFerret commented on #69
@realshuting sure! I was preparing a PR to correct but if someone on the team would prefer to do it (as it's pretty trival, just changing from null to "null") I'm good with whatever.

I did a quick grep and this was the only policy that appeared to have this particular issue.

[2021-06-25 21:58] realshuting commented on #69
That'd be great if you can contribute a PR for the fix!

[2021-06-25 22:16] #69 closed

[2021-06-29 19:04] windowsrefund opened #71 "Require Limits and Requests"
I'd like to have a policy that checks for a match between resource requests and limits. Since there doesn't appear to be any kind of == operator, I tried making use of [variables](https://kyverno.io/docs/writing-policies/variables/) like so:

[code]

To my surprise though, my newly created pod (with non-matching memory requests/limits) passed validation. I suspect the variable is not interpolating

[2021-06-30 15:58] kacejot commented on #71
Hi, @windowsrefund.

Yes, your suspicion is correct. $() notation takes the part of policy by provided path and places it instead of itself.
So your policy is equivalent to:
[code]
Which allows all the policies with both `memory` fields specified.

I wrote a simple policy that denies not matching `memory` fields in `requests` and `limits`:
[code]

It uses JMESPath notation and traverses the contai

[2021-06-30 18:36] chipzoller commented on #71
Nice idea here, @kacejot ! I've taken it and expanded upon it to be applicable to all Pod controllers. I will get this added to the policy library so @windowsrefund and others can benefit.

[code]

[2021-07-08 12:41] chipzoller commented on #67
@maartenvdezz Sorry it has taken so long to respond here. I don't believe a hostPath volume can be mounted as read only in Kubernetes. Do you know differently?

[2021-07-08 13:02] chipzoller commented on #64
Bump

[2021-07-08 13:03] chipzoller opened #73 "re-work ensure_probes_different.yaml"
Re-work to see if it can be simplified similar to the lookup here: https://github.com/kyverno/kyverno/issues/2086

[2021-07-08 13:40] maartenvdezz commented on #67
Yes, in the volumeMount (so not in the volume) you can set the volume to readonly like this:

`apiVersion: v1
kind: Pod
metadata:
  name: voltest
spec:
  containers:
  - name: test
    image: test
    volumeMounts:
    - mountPath: /tmp-mount
      name: tmp-vol
      readOnly: true
  volumes:
  - name: tmp-vol
    hostPath:
      path: /tmp`

This is important because "Writeable hostPath director

[2021-07-08 13:43] chipzoller commented on #67
This may be possible. What is the behavior you would want from a policy? Can you describe exactly what you're looking to do?

[2021-07-08 13:51] maartenvdezz commented on #67
The policy must set all volumeMounts to readonly that point to a hostPath with a certain path.

So in other words: if a volumeMount is linked to the volume tmp-vol which is a hostPath volume and it has path /xy/z, than that volumeMount must be set to readonly

[2021-07-08 14:17] chipzoller commented on #67
Let me give it a try and see what I can do. My thought is this would be possible with some JMESPath expressions, but how to craft them I'm not quite sure.

[2021-07-10 00:42] #71 closed

[2021-07-10 00:42] #73 closed

[2021-07-10 00:42] #68 closed

[2021-07-11 13:50] chipzoller commented on #67
I have identified a code problem that is preventing this policy from being implemented. See https://github.com/kyverno/kyverno/issues/2109

[2021-07-14 15:32] chipzoller commented on #67
Ok @maartenvdezz it looks like this problem was already addressed upstream and the fix can be found in image tag `v1.4.1-52-g521ee0e6`. It'll be included as part of the 1.4.2 release here shortly. But with that fixed version, I was able to build a policy for you.

`cpol.yaml`

[code]

Test with `pod.yaml`
[code]

This ClusterPolicy has two rules: one validates that a Pod does not contain more than

[2021-07-16 22:57] chipzoller opened #78 "Better descriptions for policies"
Policies are hit or miss with respect to explaining *why* it's useful. They explain what it does, but descriptions could do both to help users better.

[2021-07-17 20:32] JimBugwadia opened #79 "Sample mutate policy for pod security context attributes"
See: https://kubernetes.slack.com/archives/C8P1DRTJA/p1626520243195800

A Kyverno policy can check of `runAs` and other `securityContext` attributes like `runAsNonRoot` are specified and automatically inject them if needed.

[2021-07-17 21:45] chipzoller commented on #79
[code]

[2021-07-19 07:58] JimBugwadia opened #80 "Sample policy to validate for v1.22 deprecated APIs"
See: https://twitter.com/Marcus_Noble_/status/1417007780888825856

Kubernetes v1.22 removes a number of deprecated APIs. The policy would check for those apiVersions and kinds and block / report their usage.

[2021-07-19 08:00] JimBugwadia commented on #80
Here is a sample:

[code]

When used with this YAML:

[code]

It blocks creation as follows:

[code]

[2021-07-19 12:52] chipzoller commented on #80
This is a good policy to add. Probably should make these more regular occurrences as K8s moves forward.

[2021-07-19 17:31] #80 closed

[2021-07-22 14:45] chipzoller commented on #67
@maartenvdezz does the above satisfy your use case?

[2021-07-22 15:07] maartenvdezz commented on #67
@chipzoller I want to thank you very much for your help and I'm sorry for my late response! I really appreciate the effort and am very impressed by your skills and the capabilities of Kyverno 1.4.2.

Unfortunately, I already finished the project and am currently extremely busy with other stuff... Therefore, I have to put this on my To-Do list and try it out around august!

To give you some backgro

[2021-07-22 15:29] chipzoller commented on #67
Ok, thanks for the feedback. I'll go ahead and close this issue but will look to try and incorporate this sample policy in our samples repo to make available for the masses (after some slight tweaking).

[2021-07-22 15:29] #67 closed

[2021-07-29 02:42] viveksahu26 opened #88 "Covering all Sample Policies"
In the current scenario, there are many [sample policies](https://github.com/kyverno/policies/tree/main/other) which requires to add `test.yaml` and `resource.yaml` for each of them in a separate folder under [other repo](https://github.com/kyverno/policies/tree/main/other) only.

[2021-07-29 05:34] viveksahu26 commented on #88
/assign

[2021-07-29 05:35] viveksahu26 commented on #88
Hey @realshuting, can you assign me this issue.

[2021-08-05 05:23] shilpa-0 opened #90 "rule 'require-namespace' from policy 'disallow-default-namespace' does not work as expected"
Hi,

Do we really need the rule require-namespace in the policy https://github.com/kyverno/policies/blob/main/best-practices/disallow_default_namespace/disallow_default_namespace.yaml?

I expected the below pod to fail the rule but that is not the case.
[code]

Is the rule indeed not working as expected or is my understanding wrong here?

Regards,
Shilpa

[2021-08-05 05:33] JimBugwadia commented on #90
@shilpa-0 - can you try setting the `validationFailureAction: audit` to `enforce`?

See: https://kyverno.io/docs/writing-policies/validate/#validation-failure-action for more details.

[2021-08-05 05:43] shilpa-0 commented on #90
@JimBugwadia The behaviour is the same even with `validationFailureAction` set to `enforce`

[2021-08-05 06:53] JimBugwadia commented on #90
Here is what I see with this policy after changing the validationFailureAction to enforce:

[code]
[code]

Can you provide your policy settings and versions?

[2021-08-05 09:51] shilpa-0 commented on #90
Kyverno version: v1.4.1
Policy: same as https://github.com/kyverno/policies/blob/main/best-practices/disallow_default_namespace/disallow_default_namespace.yaml

Manual testing:
I switched the context to a non-default namespace and the pod creation was not blocked even though namespace tag was not mentioned.
When I switched to default namespace, the pod creation was blocked as expected.

Using Kyve

[2021-08-05 12:08] NoSkillGirl opened #91 "Add a policy which uses `regex_replace_all`"
see: https://kubernetes.slack.com/archives/CLGR9BJU9/p1628006140065200

Add the policy mentioned [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1628093711112600?thread_ts=1628006140.065200&cid=CLGR9BJU9) in the sample policies and website as an example of `regex_replace_all`.

[2021-08-05 14:55] JimBugwadia commented on #90
@shilpa-0 is you are using a context with a namespace, all kubectl commands will be in that namespace. Hence, the policy is satisfied and does not report any violations.

[2021-08-05 20:55] viveksahu26 commented on #88
Hey @chipzoller , Do I need to cover those sample policies whose values are dependent on Admission Review data.

[2021-08-06 05:14] #90 closed

[2021-08-06 05:15] shilpa-0 commented on #90
@JimBugwadia Thanks for the clarification.

[2021-08-07 00:29] realshuting commented on #88
@viveksahu26 - as discussed, we don't need to pass in any value if the variable is defined for `request.object`. Other than this, we can specify these variables in `test.yaml`.

[2021-08-07 11:40] chipzoller commented on #64
@JimBugwadia last attempt before closing

[2021-08-08 00:46] JimBugwadia commented on #64
I would just add as a separate best practice policy and add an OR check across the two.

The description can clarify that when drop all is not possible, at least dropping net raw is required.

Of we can at least add this as a comment in the existing policy.

[code]

[2021-08-08 01:04] chipzoller commented on #64
Makes sense. I'll implement this change probably in the existing policy.

[2021-08-08 01:40] chipzoller commented on #64
The expression `drop: ["ALL" | "CAP_NET_RAW"]` isn't valid so it's probably just best to make this a separate policy.

[2021-08-08 02:13] chipzoller commented on #64
Proposing this:

[code]

Notice that this is slightly different in the anchors for initContainers when compared to the [drop all policy](https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all/). I'm thinking the drop all needs to modified like this. Agree/disagree?

[2021-08-08 13:17] chipzoller commented on #64
Went ahead and included it.

[2021-08-08 13:23] chipzoller commented on #91
This is blocked due to issue https://github.com/kyverno/kyverno/issues/2243

[2021-08-08 22:13] #64 closed

[2021-08-08 22:13] #78 closed

[2021-08-08 22:13] #79 closed

[2021-08-11 13:54] Danny-Wei opened #96 "drop-cap-net-raw policy does not work as expected"
**Software version numbers**

Kubernetes: v1.20.8
Kyverno version: v1.4.2-rc3

**Describe the bug**
The resource which has multiple drop capabilities can not pass the drop-cap-net-raw policy.

**To Reproduce**

1. Apply drop-cap-net-raw policy

[code]

2. Apply the following resource

[code]

**Expected behavior**
Resource Pod/default/test created successfully.

**Actual behavior**
Resource Pod/de

[2021-08-11 14:07] chipzoller commented on #96
Confirmed, thanks for raising. @JimBugwadia or @realshuting I thought we were supporting basically an `In` expression for list values like `securityContext.capabilities.drop[]`.

[2021-08-11 17:11] realshuting commented on #96
Yes, it is supported https://kyverno.io/docs/writing-policies/preconditions/#operators.

[2021-08-11 17:40] realshuting commented on #96
I don't think so. `pattern` in the validate rules only accepts "overlay-styled" definition. You can also build a Deny rule with `In` for this use case.

[2021-08-11 17:48] chipzoller commented on #96
So for any logic where one needs to check and see if any one value X is in a list of strings Y it has to be as a condition (either preconditions or deny.conditions)?

[2021-08-12 19:13] chipzoller commented on #96
@Danny-Wei This sample should work:

[code]
Setting `validationFailureAction: audit` does work. The only thing about the above approach here is that these JMESPath expressions are not automatically translated for higher-level pod controllers via Kyverno's auto-gen rules. So you'll have to duplicate the rule, change the `kind`, and modify the variable to suit the schema of that resource kind.

[2021-08-13 03:39] Danny-Wei commented on #96
It works. The policy I use is:

[code]

However, I think we shouldn't use `to_string(@) | contains(@, 'NET_RAW')`. Because this can be bypassed with 'XXXNET_RAWYYY'.

I tried `request.object.spec.containers[].securityContext.capabilities.drop | to_string(@) | to_array(@) | contains(@, 'NET_RAW')` and `request.object.spec.containers[].securityContext.capabilities.drop | to_array(@) | contains(@, 'N

[2021-08-13 08:06] chipzoller commented on #96
Yes, you're right, you've picked up on something I did in my testing. However, two things:

1. Even if someone could specify a capability that contains that as a substring, it wouldn't do anything. So the underlying kernel wouldn't recognize `XXXNET_RAWYYY` or anything similar. The capability would have to be precise.
2. It should just be possible to do full string match which is what the `contain

[2021-08-13 08:26] Danny-Wei commented on #96
Thanks for your reply. I was thinking about this scenario:
1. A cluster has a drop-cap-net-raw policy to validate resource creation.
2. Someone can create a Pod that drops `XXXNET_RAWYYY` capability explicitly to bypass the policy.
3. The Pod will be created with NET_RAW capability.

[2021-08-13 08:29] chipzoller commented on #96
How are you figuring a Pod spec which defines a capability named `XXXNET_RAWYYY` will result in it finally receiving a capability named `NET_RAW`?

[2021-08-13 08:41] Danny-Wei commented on #96
I mean, If we create a Pod that drops 'XXXNET_RAWYYY' capability to pass the policy, then Kubernetes simply ignores 'XXXNET_RAWYYY' and creates the pod with NET_RAW capability.

[2021-08-13 11:05] chipzoller commented on #96
Right, I see what you mean. The `NET_RAW` capability will be implicitly granted by virtue of it not having been dropped. So this is definitely a problem where a full string match in the drop array is required and substrings won't work. We'll continue to investigate.

[2021-08-16 03:38] sotoiwa opened #97 "`background: false` is specified even though it is not required."
In some sample policies, `background: false` is specified even though it is not required.  The following are some examples.

- https://github.com/kyverno/policies/blob/main/best-practices/restrict_image_registries/restrict_image_registries.yaml#L18
- https://github.com/kyverno/policies/blob/main/other/imagepullpolicy-always.yaml#L17
- https://github.com/kyverno/policies/blob/main/other/restrict_an

[2021-08-17 12:43] karthik012 opened #100 "Policies for the EKS CIS Rules"
Any idea , where can we find the policies related/similar to the below rules:
1. Ensure that the cluster-admin role is only used where required
2. Minimize wildcards use in roles and clusterroles

I wanted to have a policy for 3. Minimize access to create pods	, for which I could tweak this:
https://kyverno.io/policies/other/block_updates_deletes/

But could not find policies/related to 1 & 2. Any

[2021-08-17 12:58] chipzoller commented on #100
The CIS benchmarks are Kubernetes cluster best practices/configurations and not really policy opportunities in most cases. Kyverno can be used to assist in these regards, but you still have to define what you want in your environment. So for item number one, what does "where required" mean for you? Similar with two.

[2021-08-17 17:09] sotoiwa opened #102 "restrict-seccomp policy does not comply with Pod Security Standards (Restricted)"
The Restricted profile in the Pod Security Standards requires that the Seccomp profile be specified, and does not allow it to be unspecified, but the kyverno's [restrict-seccomp](https://github.com/kyverno/policies/blob/main/pod-security/restricted/restrict-seccomp/restrict-seccomp.yaml) policy allows it to be unspecified.

[2021-08-17 21:11] realshuting commented on #102
Hi @sotoiwa - can you point me to where PSS requires Seccomp profile?

[2021-08-17 22:31] JimBugwadia commented on #102
@realshuting - please check here: https://kubernetes.io/docs/concepts/security/pod-security-standards/ (search for Seccomp)

Looks like there is Kubernetes version specific information now, which we will need to update to:

[code]

[code]

[2021-08-18 13:32] chipzoller commented on #97
Makes sense, @sotoiwa, and I think would be a great contribution for you to make. Would you like to take this up and make the appropriate changes throughout the policies repo?

[2021-08-18 15:24] chipzoller commented on #102
Thanks for bringing this to our attention @sotoiwa. I have built an updated version of this policy to conform to the latest standards. Please try it out and ensure it works correctly. A couple things:

* It is set to `enforce` right now
* ephemeralContainers is not being checked because this is still an alpha feature in v1.22
* The test resources in kyverno/policies for this sample have a couple b

[2021-08-18 15:36] chipzoller commented on #102
All of these Pod resources should fail validation:

[code]

[2021-08-18 15:43] chipzoller commented on #102
@JimBugwadia and/or @realshuting would appreciate your review and vetting of this policy if you have time. As this is a PSS policy, it's quite important that it be rock solid.

[2021-08-18 17:33] chipzoller commented on #102
Updated above comment with full array of test resources and test manifest. These should test every possible combination of fields to ensure the policy works as it should. Please validate and ensure there are no holes anywhere.

[2021-08-19 04:01] sotoiwa commented on #97
@chipzoller  I'd like to update #101 to fix all policy but I need some discussion.

For all the validate rules, I'd like to state the `background` and `validationFailureAction` attributes. `background: true/false` should depending on whether background scanning is possible or not.

In the case `background: false`, do you think the `validationFailureAction` should be `enforce` or `audit`? Currently

[2021-08-19 14:40] chipzoller commented on #96
You can use the query `"spec.containers[].securityContext.capabilities.drop[] | [?@ == 'NET_RAW'] | length(@)"` to check for exact string match rather than using the `contains` function. This might be better in such cases.

[2021-08-20 01:00] chipzoller commented on #97
Agree, this would be good to state explicitly.

We have made a conscious decision to leave `validationFailureAction` set to `audit` so as not to cause unintended blocking of resources for users new to Kyverno who might like to try a policy but aren't yet sure what it'll do. We want to be as friction-less as possible as do no harm. For some of the policies, however, it makes no sense to have a poli

[2021-08-20 13:04] chipzoller commented on #96
@Danny-Wei although I still have a question out to the chief maintainer of this JMESPath capability, with some help from the JMESPath community I was able to build a query which does definitely work in ensuring that all containers, whether they be initContainers or containers, explicitly specify `NET_RAW` in their drop[] arrays.

Here's the Kyverno policy which *should* (yet doesn't currently) wor

[2021-08-20 15:11] chipzoller commented on #102
@sotoiwa please review and comment or else indicate if this issue can be closed.

[2021-08-20 15:11] chipzoller commented on #100
Closing if nothing further.

[2021-08-20 15:11] #100 closed

[2021-08-20 16:47] sotoiwa commented on #102
I've seen the policy and the tests. I think it's all good. Thank you!

[2021-08-20 23:17] realshuting commented on #102
@chipzoller - I'm checking tests results against [this](https://github.com/kyverno/policies/blob/main/pod-security/restricted/restrict-seccomp/restrict-seccomp.yaml) policy, got 3 questions:
- it seems like the `type` needs to be set to `runtime/default` if specified, while in all the above resources they are set to `RuntimeDefault`, did I miss anything?
- for those `unset` resources, shouldn't th

[2021-08-21 02:06] chipzoller commented on #102
* The original configuration of this policy which checked `runtime/default` was, I believe, a mistake. Upon checking the reference [here](https://kubernetes.io/docs/tutorials/clusters/seccomp/), that value was applicable only for an annotation pre v1.19. I think in this version we (read: I) finally got it right.
* When consulting the updated [PSS for Seccomp (v1.19+)](https://kubernetes.io/docs/co

[2021-08-21 03:24] realshuting commented on #102
Thank you @chipzoller for the clarification, I somehow missed the policy you attached above. All make sense now!

[2021-08-21 13:54] chipzoller commented on #102
See linked PR which contains the updates reflected during the course of this issue.

[2021-08-23 08:22] kaihil opened #109 "Improve Policy "drop-all-capabilities""
I just found out, to fulfill the policy `drop-all-capabilities` it is important to write `ALL` in upper case. `all` in lower case won't satisfy it.

Most documentation/blog posts (about dropping all capabilities) I googled, write:
[code]

Therefore, it would be nice if either both `all` and `ALL` are valid or the message contains a corresponding hint that `ALL` in upper case has to be used.

[2021-08-23 10:02] Danny-Wei commented on #96
@chipzoller Cool, I did a test, it should be working.

I have another question. If we use the `deny.conditions` policy that you mentioned above, can we use `alidationFailureAction: enforce` and `background: true` at the same time? Because we want to run in audit mode for a period of time, and continuously monitor how many resources do not meet the policy through background scanning before enabling

[2021-08-23 11:46] chipzoller commented on #96
Policies which use variables from AdmissionReview can't be used in background mode because Kyverno doesn't have access to the payload since the resource already exists.

[2021-08-23 12:12] chipzoller commented on #109
Thanks for the issue, @kaihil . I have an open PR where I've included a better message which states `ALL` must be written in all caps.

[2021-08-24 14:14] chipzoller commented on #96
@kacejot when you can, see [this reply](https://github.com/kyverno/policies/issues/96#issuecomment-902678290).

[2021-08-24 18:39] rajdas98 opened #110 "not able to apply block_updates_deletes policy"
While using https://kyverno.io/policies/other/block_updates_deletes/?policytypes=RBAC policy, getting this error.
[code]

Kyverno version: 1.4.2

[2021-08-24 21:18] chipzoller commented on #110
It should be `kinds`. Thanks for reporting. We'll fix.

[2021-08-27 07:58] viveksahu26 opened #112 "Add safe-to-evict"
The [policy ](https://kyverno.io/policies/best-practices/add_safe_to_evict/?policytypes=mutate) is not working as it suppose to work.
It's due to  absence of    `conditional anchors`   in fields `spec` and `volumes`.

[2021-08-27 12:55] #112 closed, assigned to nobody

[2021-08-30 05:58] rubroboletus opened #113 "Require Pod Probes"
After upgrading from 1.3.6 to 1.4.2, this policy starts again firing alert for CronJobs / Jobs (pods created by them). Applied last CRDs, undeployed Kyverno, cleaned up all crds and policies, installed cleanly, still same issue.
Kubernetes EKS 1.21.

[2021-08-30 13:43] pkatira opened #114 "Configuration files for HNC use-cases with Kyverno"
It would be great if we could have configuration/policy files that were used in the lightning demo - https://www.youtube.com/watch?v=f3LBwIMk0Zs

This would enable folks to try out Kyverno with an HNC usecase.

[2021-08-30 13:44] pkatira commented on #114
@JimBugwadia As per our discussion, created this issue.

[2021-08-30 19:46] JimBugwadia commented on #114
Adding the "raw" files I used. Will convert to samples - not sure how to best handle the roles, etc. other than comments in the policies.

[multitenancy.zip](https://github.com/kyverno/policies/files/7079201/multitenancy.zip)

[2021-09-01 17:40] Anita-ihuman opened #115 "Integrate Github Action"
**Is your feature request related to a problem? Please describe current state:**
 The repository  does not have a  contributor appreciation automation.

**Describe the solution you'd like:**
Integrate the [behaviour bot](https://github.com/apps/welcome) from Github Apps into the repository.

**Describe alternatives you've considered:**
No alternative for now.

**Screenshots**
<img width="807" alt=

[2021-09-02 13:45] thorstenhuhn opened #116 "Unique Ingress Host sample policy will always validate/deny"
The precondition requires any of two opposite checks which will always be true:

[code]

As we have a deny rule here, the second condition is the one to be removed.

[2021-09-02 14:03] thorstenhuhn opened #117 "[Discussion] Policy Classification Annotation for Kubernetes version"
Policies using `apiCall` in their `context` might not work with every Kubernetes version, e.g. [unique-ingress-host](https://github.com/kyverno/policies/blob/da1666055a28cd24e40de7e62bcad5f8dd63818f/other/restrict_ingress_host.yaml) policy uses `urlPath` "/apis/networking.k8s.io/v1/ingresses" which is available since Kubernetes 1.19 and will not work for versions before.

A policy classification a

[2021-09-10 15:03] KingCrunch opened #119 "disallow-adding-capabilities interferes with require-drop-all"
The policy [`pod-security/baseline/disallow-adding-capabilities`](
https://github.com/kyverno/policies/blob/main/pod-security/baseline/disallow-adding-capabilities/disallow-adding-capabilities.yaml) contradicts [`best-practices/require_drop_all`](https://github.com/kyverno/policies/blob/main/best-practices/require_drop_all/require_drop_all.yaml).

When I implement `require_drop_all`, which seems r

[2021-09-10 19:09] JimBugwadia opened #121 "Policy to block calls on Node resources"
See:

https://www.youtube.com/watch?v=6rMGRvcjvKc

It seems the security rules are setup conveniently for the demo scenario to work.

[2021-09-10 19:11] JimBugwadia opened #122 "Policy to prevent `Azurescape`"
See: https://threatpost.com/azurescape-kubernetes-attack-container-cloud-compromise/169319/

Some ideas to explore:

1. Require BoundServiceAccountTokenVolume

2. Deploy policy enforcers to monitor and prevent suspicious activity within clusters, especially service accounts or nodes that query the SelfSubjectAccessReview or SelfSubjectRulesReview APIs for their permissions.

[2021-09-12 14:07] chipzoller commented on #116
@thorstenhuhn apologies for letting this drop off. Have been covered up at work.

The problem that I was attempting to solve with the latter `any` statement was when a single Ingress manifest was submitted that contained at least one colliding host. For example, if you started with the following hosts defined as Ingress resources

[code]

and a user submitted the following manifest

[code]

withou

[2021-09-14 23:22] realshuting opened #124 "Update sample policy - add-safe-to-evict"
With this PR https://github.com/kyverno/kyverno/pull/2311, `add-safe-to-evict` sample policy is updated to the following:
[code]

We need to update the sample policy accordingly and also the test set (cc @viveksahu26).

[2021-09-15 16:58] viveksahu26 commented on #124
/asign

[2021-09-16 20:25] realshuting opened #129 "Update status to result in Viewing Policy Violations"
In this section https://kyverno.io/docs/policy-reports/#viewing-policy-violations, the command needs to be updated to:
[code]

[2021-09-16 21:06] chipzoller commented on #96
Update: With Kyverno 1.4.3, these `contains()` policies now work as intended and a slight modification to the one [above ](https://github.com/kyverno/policies/issues/96#issuecomment-902678290) works.

`cpol.yaml`

[code]

Test with `pod.yaml`

[code]

This should pass as-is. But changing any of the `NET_RAW` entries even slightly (for example, changing one to `XXXNET_RAWYYY`) will cause the Pod to

[2021-09-16 21:08] chipzoller commented on #96
Re-open. Need to actually fix the policy in the library.

[2021-09-17 12:23] chipzoller commented on #116
Now that 1.4.3 is out, the `contains()` issue has been solved, but I'm still not yet sure about the search capabilities. I have a question out to the community.

[2021-09-17 21:26] realshuting commented on #116
@chipzoller - can you please elaborate more on " the search capabilities"? Can we use `context.APICall` to fetch existing hosts?

[2021-09-17 22:38] chipzoller commented on #116
I should have clarified. By "the search capabilities" I was referring to the abilities of the `contains()` function in the JMESPath library. After speaking with a member of the JMESPath community, it seems likely there isn't a way to compare a sourcearray of strings to a destination array of strings and return `true` if any of those in the source are found in the destination.

I was thinking I cou

[2021-09-18 01:07] realshuting commented on #116
Looks like we already have one for `AnyIn` and `AllNotIn`: https://github.com/kyverno/kyverno/issues/1837. Can you please link this issue to that one?

[2021-09-18 01:10] chipzoller commented on #116
Doh. I specifically searched for this and turned up nothing. It even references this. I'll elaborate later.

[2021-09-18 15:13] #97 closed

[2021-09-18 15:20] chipzoller commented on #124
PR sent

[2021-09-18 15:30] chipzoller commented on #119
@KingCrunch sorry for the late response. The two policies you point out are supposed to be mutually exclusive. The policy `disallow-add-capabilities` is defined in the Kubernetes [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/). The policy `drop-all-capabilities` is not part of this set of standards. The idea is that a user may select either policy dep

[2021-09-18 15:30] #119 closed

[2021-09-18 15:41] chipzoller opened #130 "Annotate policies with Kubernetes compatibility version"
Per prior agreement, add new annotations to policies which list the tested version of Kubernetes and Kyverno.

[2021-09-18 15:43] chipzoller commented on #117
Yep, you're right. We actually discussed this at an earlier contributors meeting and it sounded like the agreement was to add a couple new annotations. One would be to state the tested (implied working) version of Kubernetes and the other for Kyverno. I've created a reminder issue https://github.com/kyverno/policies/issues/130 to track.

[2021-09-18 15:43] #117 closed

[2021-09-18 16:03] chipzoller commented on #113
@rubroboletus Can you please test with Kyverno 1.4.3 and see if you have the same issue? If so, please respond here with a test manifest for a CronJob or Job that can be used to verify.

[2021-09-18 16:04] chipzoller commented on #109
This has been further enhanced with new logic that works with Kyverno 1.4.3.

[2021-09-18 16:07] chipzoller commented on #3
Closing this because it's mostly been implemented and mutations are on the way. Feel free to re-open if there are other actions that need to be captured here.

[2021-09-18 16:07] #3 closed

[2021-09-18 23:42] JimBugwadia commented on #130
Hi Chip, my understanding was we would start with something like `kyverno.io/kubernetes-version: 1.20.+` to allow the policy authors to indicate which version the policy is written for, and we would automate tests for the 3 prior versions.  This way, as Kubernetes objects evolve, policy authors have a way to manage policies for newer and older versions.

Does this match what you have in mind?

[2021-09-18 23:59] chipzoller commented on #130
I think we need to be clear. The annotation can indicate one of two things:

- The minimum version of Kubernetes on which the policy, as written, will function as intended.
- The version of Kubernetes on which the policy is confirmed to work (i.e., the version used to test the policy by the contributor).

Which are we envisioning here? They aren't necessarily the same.

[2021-09-19 00:18] JimBugwadia commented on #130
Agreed, they are not the same, and perhaps we need both.

I feel that #1 is critical. `The versions of Kubernetes on which the policy, as written, will function as intended`. Note that I removed `minimum` as this needs to be a range of versions for which the policy will operate.

We are seeing this as a real problem with customers, as policies need to evolve as Kubernetes resources evolve.

The ve

[2021-09-19 14:24] chipzoller commented on #130
I also think having a range of versions of Kubernetes would be valuable, but here are the three challenges I see are before us.

1. The value of this annotation has to factor in Kyverno versions as well. Take the [Block Pod Exec by Namespace Label](https://kyverno.io/policies/other/block-pod-exec-by-namespace-label/) example. This policy will only work beginning in 1.4.2 as we state in the `minver

[2021-09-19 14:39] chipzoller commented on #130
Somewhat separately (but still related) on your comment:

Taking the [Unique Ingress Host](https://kyverno.io/policies/other/restrict_ingress_host/) example again. Kubernetes version N is released which bumps the API version to `v2`. The `kyverno.io/kubernetes-version` on the existing policy reflects `1.19-N`. Do we now basically duplicate the policy with the only difference being the API version

[2021-09-19 19:44] JimBugwadia commented on #130
Yes, we will need a Kyverno and Kubernetes version for each policy. Something like:

[code]

The testing and labels can be limited to the 3 prior supported minor versions of each, yielding a 3x3 test matrix.  So, in your examples no need to go back in time and list all supported K8s versions, etc.

We can document and follow some simple conventions which make it easy to search and replace lower ve

[2021-09-20 06:04] rubroboletus commented on #113
@chipzoller tested, still in trouble. Pasting also my Pod Probes Policy, added some exclude logic. But fails even with plain policy from here (also tested).
[code]

[code]

job was created from CronJob using simple `kubectl create job --from=cronjob/hello hello-2 -n rh-test --token $RH_TOKEN` command.
That token has RoleBinding "admin" in mentioned namespace, so it will not match the excludes.
Att

[2021-09-23 08:23] CIPHERTron commented on #121
Heyy @JimBugwadia @realshuting, can I take up this issue? I would love to work on it.

[2021-09-23 13:32] JimBugwadia commented on #121
Thanks @CIPHERTron!

[2021-09-27 01:28] #102 closed

[2021-09-27 01:28] #109 closed

[2021-09-27 01:28] #96 closed

[2021-09-27 01:28] #110 closed

[2021-09-27 01:28] #124 closed

[2021-09-27 07:57] kaihil commented on #109
Nice, thank you!

[2021-09-27 13:25] #115 closed

[2021-09-27 14:48] chipzoller commented on #116
Going to close this for now as a workaround has been pushed to the repo whereby only a single Ingress host is allowed in a given resource request.

[2021-09-27 14:48] #116 closed

[2021-09-27 14:52] chipzoller commented on #113
@rubroboletus A few things I'm seeing

1. This is a `Policy` and not a `ClusterPolicy` which means it's namespaced. The exclude clauses which name other Namespaces aren't valid.
2. You've set `pod-policies.kyverno.io/autogen-controllers` and haven't named `Job` or `CronJob` so the auto-gen controller will not generate a complimentary policy to block Pods emanating from those controllers.
3. `valid

[2021-09-27 14:55] chipzoller commented on #130
I'm not a fan of using a plus notation in this context. Think of scenario number two in my [previous reply](https://github.com/kyverno/policies/issues/130#issuecomment-922481952). We shouldn't assume a policy on the current release (of either Kyverno or Kubernetes) will work for any future releases.

[2021-09-27 15:30] #88 closed

[2021-09-28 18:27] realshuting opened #136 "[BUG] CLI test failed for validate policy"
**Software version numbers**
State the version numbers of applications involved in the bug.

* Kubernetes version:
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift):
* Kyverno version: 1.4.3

**Describe the bug**
CLI test for the new validate policy failed in kyverno/kyverno CI, test set https://github.com/kyverno/policies/tree/main/other/restrict_ingress_host.

Failure log https://g

[2021-09-28 18:32] realshuting commented on #136
And if I don't define that var in value.yaml, the rule would fail because the variable is not defined:
[code]

[2021-09-28 18:33] viveksahu26 commented on #136
hey @realshuting , For variable I raised an [issue ](https://github.com/kyverno/kyverno/issues/2445)and it is resolved now. There was mistake in `test.yaml` and `values.yaml` file. I have fixed it locally and also asked @NoSkillGirl  to cross check it.

[2021-09-28 18:35] realshuting commented on #136
Are these two tests passed in your local test? Can you please submit your local fix? We need it for all tests in kyverno/kyverno.

[2021-09-28 18:36] viveksahu26 commented on #136
Can you check with this, and policy will be same.

`resource.yaml`
[code]

`test.yaml`
[code]

`values.yaml`

[code]

[2021-09-28 18:40] realshuting commented on #136
Yes it passes for me. Can you submit the changes so we can merge pending PRs in kyverno/kyverno?

I don't think we want to specify `skip` for those three rules, it does not validate policies in this case. We still need to figure out how to define a var with `length(@)` or other JMESPath operations. @NoSkillGirl

[2021-09-28 18:42] viveksahu26 commented on #136
yes, I will make PR.

[2021-09-28 18:50] viveksahu26 commented on #136
Do, I have to also include those `skip` cases or not.

[2021-09-28 18:51] realshuting commented on #136
Yes please.

[2021-09-28 21:10] #136 closed

[2021-09-29 06:14] rubroboletus commented on #113
@chipzoller hello, a few things I'm seeing in Kyverno 1.4.3 log, when I try to apply this policy, just changed to ClusterPolicy and action to enforce:

![image](https://user-images.githubusercontent.com/19551186/135209398-45426187-12bd-474e-b091-786692ffad56.png)

you are right, that I was trying to test it fast for you, so used just Policy, to not break all the Kubernetes, used also by other peop

[2021-10-03 23:20] JimBugwadia opened #139 "[BUG] fix automation test results"
**Software version numbers**

* Kubernetes version: n/a
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): n/a
* Kyverno version: 1.5.0-rc1

**Describe the bug**

The changes for this PR break the automation test, as now a `skip` is returned when a pattern or precondition does not match.

[code]

The test needs to be updated.

[2021-10-03 23:21] JimBugwadia commented on #139
Here is a link to the test execution: https://github.com/kyverno/kyverno/pull/2443/checks?check_run_id=3781742250

[2021-10-04 00:56] #139 closed

[2021-10-26 16:26] Itiho opened #152 "[BUG] disallow-ingress-nginx-custom-snippets no work"
**Software version numbers**

* Kubernetes version: 1.18
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.1

**Describe the bug**
I apply the [disallow-custom-snippets](https://github.com/kyverno/policies/blob/main/best-practices/nginx-custom-snippets/disallow-custom-snippets.yaml) and create a ingress test with snippets annotations and no get validate er

[2021-10-27 09:53] mathildeHermet opened #153 "Disallow Custom Snippets"
`message` field is under `rule` instead of `validate` : https://kyverno.io/policies/best-practices/nginx-custom-snippets/disallow-custom-snippets/

Nevertheless the policy is correct on github.

[2021-10-27 14:11] #153 closed, assigned to nobody

[2021-10-29 20:45] chipzoller commented on #122
Only thing I can extract from this is a policy to require a projected volume for the service account token. Does that align with what you were thinking too?

[code]

[2021-10-29 20:45] chipzoller commented on #114
Were you still planning on converting these, @JimBugwadia ?

[2021-10-29 20:51] chipzoller commented on #113
@rubroboletus the reason why it's not enforcing on Jobs and CronJobs is because the policy explicitly specifies the Kyverno auto-gen controller is ONLY to create corresponding policies for Deployment, DaemonSet, and StatefulSet resources. This is seen in your posts [here ](https://github.com/kyverno/policies/issues/113#issuecomment-922656487) and [here](https://github.com/kyverno/policies/issues/1

[2021-10-29 20:51] #113 closed

[2021-10-29 20:53] chipzoller commented on #51
Will be unblocked by https://github.com/kyverno/kyverno/pull/2622

[2021-10-30 13:38] CIPHERTron commented on #121
Heyy @chipzoller my bad. Totally forgot about this issue. Currently, I'm working on the test command for generate policies. So, I'm gonna have to unassign myself. Thanks for notifying me.

[2021-10-31 07:18] rubroboletus opened #156 "[BUG] Sample policy blocking pods created from CronJob / Job"
**Software version numbers**
1.5.1

* Kubernetes version: 1.21
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): EKS
* Kyverno version: 1.5.1

**Describe the bug**
When I apply sample policy - [https://kyverno.io/policies/best-practices/require_probes/require_probes/](https://kyverno.io/policies/best-practices/require_probes/require_probes/) - is blocking pods created from CronJob /

[2021-10-31 15:51] chipzoller commented on #121
I had a look at this presentation (in which this attack was demonstrated against Kubernetes 1.11 almost 2 years ago), and what was quoted was from a comment on the video. There have been some significant updates since this demo not only with NodeAuthorizer but even the default ClusterRole for kubelet (delete requests on node resources are disallowed, which was the first step in how the compromise

[2021-11-02 12:44] chipzoller commented on #152
@Itiho can you check again?

[2021-11-02 12:46] chipzoller opened #158 "Add `foreach` mutation policy from docs"
Turn website example [here ](https://kyverno.io/docs/writing-policies/mutate/#foreach) into a sample policy. Expand to add second rule for initContainers working around current `list` limitations.

[2021-11-02 13:06] chipzoller opened #159 "Add env vars from ConfigMap per Namespace"
From Slack: Have one CM per NS with all env vars defined. Mutate pods with per-NS CM to get those env vars.

[2021-11-02 15:35] chipzoller commented on #159
Something like:

[code]

[2021-11-02 18:38] chipzoller opened #161 "[BUG] Drop CAP_NET_RAW is broken"
Reported on [Slack](https://kubernetes.slack.com/archives/CLGR9BJU9/p1635871845262100). The policy doesn't flatten the `drop` array as it should.

[2021-11-03 09:03] mathildeHermet commented on #161
Also the case
[code]
will result in the pods beeing blocked while it should pass.

[2021-11-03 10:54] PlayMTL opened #162 "[BUG] Typo in CVE-2021-25742 Policy"
**Software version numbers**
Current "disallow-ingress-nginx-custom-snippets" Policy for CVE-2021-25742

* Kubernetes version: 1.20
* Kubernetes platform (if applicable; ex., EKS, GKE, OpenShift): Vanilla
* Kyverno version: 1.4.3

**Describe the bug**

I think there is a typo in the Validationprobe for the Ingress NGINX Annotations.
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-confi

[2021-11-03 12:26] chipzoller commented on #161
Since `ALL` is inclusive of `CAP_NET_RAW`, these two policies ([here's the one to drop ALL](https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all/)), are mutually exclusive. The idea is to pick the one that best suits you.

[2021-11-03 13:04] Itiho commented on #152
Hello. I try again using clean kind cluster

kind.yaml
[code]
Create the cluster
[code]
Install ingress NGINX (https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx)
[code]

Install kyverno with helm
[code]
disallow-ingress-nginx-custom-snippets.yaml
[code]
teste.yaml
[code]
k apply -f teste.yaml
[code]

[2021-11-03 15:02] chipzoller commented on #152
@Itiho you are trying to apply an Ingress resource to the `kyverno` Namespace, which is excluded from processing by default because that Namespace is only for Kyverno's usage. If I comment that out, your resource is blocked:

[code]

Ingress resources should not be created in the `kyverno` Namespace or others that have been excluded by default.

[2021-11-03 15:02] #152 closed

[2021-11-03 15:07] chipzoller commented on #162
Thanks for the report. Sending the fix.

[2021-11-03 15:27] chipzoller opened #163 "[BUG] Fix "require drop ALL" policy"
Similar to updates to requiring drop CAP_NET_RAW, apply same methodology to update the "require drop ALL" policy.

[2021-11-03 15:37] Itiho commented on #152
@chipzoller work fine in local environment after remove kyverno namespace. Tanks

[2021-11-03 16:01] #158 closed

[2021-11-03 16:01] #159 closed

[2021-11-03 16:01] #161 closed

[2021-11-03 16:01] #162 closed

[2021-11-03 16:01] #163 closed

[2021-11-04 01:23] chipzoller opened #168 "Policy to block node taint alterations"
Write a policy which blocks the alterations to node taints.

[2021-11-04 01:24] chipzoller commented on #168
Working:

[code]

[2021-11-04 17:43] #168 closed

[2021-11-08 13:22] rubroboletus opened #171 "for emptyDir volumes, enforce ephemeral-storage definition"
**Checklist**

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).

**Is your policy request related to a problem? Please describe.**

We are trying to enforce, that if any volume with emptyDir exists in POD (Deployment, ...) definition, each container using it must define requests.ephemeral-storage and limits.ephemeral-storage.

**Describe the i

[2021-11-09 15:58] chipzoller commented on #171
We're discussing how to tackle this policy in [this discussion](https://github.com/kyverno/kyverno/discussions/2697). Currently it seems like we may be blocked until there is an enhancement to the `foreach` logic.

[2021-11-11 14:21] paediatbalcabch opened #173 "Replace Image Registry"
I have created the following policy to replace the image registry:

<details>
  <summary>replace-image-registry-policy</summary>

[code]
</details>

but when I apply the following manifest:

<details>
  <summary>manifest with init containers</summary>

[code]
</details>

then all the **initContainers** images will be set to **redhat/ubi8:8.4**

my expected behaviour would be, that the the replacem

[2021-11-11 14:32] chipzoller commented on #173
We currently have an issue with the way Kyverno runs this internally and is covered [here](https://github.com/kyverno/kyverno/issues/2243). Looking to get this fixed by 1.6.0.

[2021-11-11 23:33] realshuting opened #174 "[Question] Should we create release branches to manage backward compatibility?"
Currently there's only one main branch and all changes / fixes will be merged into main, while this could bring an issue whenever we push out a patch release. Since some of the new features may not be backported to the patch version, should we create release branches and manage versioning stuff correspondingly?

[2021-11-11 23:46] chipzoller commented on #174
How would this impact policies specifically especially since we use an annotation to state the  minimum version (minversion) as well as more recently the compatible versions of Kubernetes (kubernetes-version) and Kyverno (kyverno-version)? What problem does this solve?

If we cut a release, even if it's a patch, and these policies stop working, one or multiple things should happen in my mind.

1.

[2021-11-11 23:56] realshuting commented on #174
Since the patch releases only have the critical fixes for a minor version, all the new features won't be cherry-picked into the patch release branch. While the policy may already up-to-date reflecting latest changes. This results in CI failures as I'm currently generating 1.5.2 and have to cherry-pick last three feature commits into the 1.5 release branch in order to fix the failure. https://githu

[2021-11-11 23:58] chipzoller commented on #174
Is this only a problem for policies written for 1.5.0?

[2021-11-12 00:00] realshuting commented on #174
No the problem is for policies written for 1.6.0, and 1.5.2 don't have these supports.

[2021-11-12 00:02] chipzoller commented on #174
Where in kyverno/policies do we have policies requiring 1.6.0?

[2021-11-12 00:04] realshuting commented on #174
These policies require CLI 1.6.0:
https://github.com/kyverno/policies/blob/main/other/prepend_image_registry/prepend_image_registry.yaml
https://github.com/kyverno/policies/blob/main/other/pod_lifetime_annotation/enforce_pod_duration.yaml

And corresponding PRs:
https://github.com/kyverno/kyverno/pull/2673
https://github.com/kyverno/kyverno/pull/2569
https://github.com/kyverno/kyverno/pull/2560

[2021-11-12 00:14] chipzoller commented on #174
Ok, so these tests are failing even in 1.5.1 so they should never have made their way there. Let's rename the test files temporarily so they don't get picked up by the CLI allowing everything to pass. We'll leave all the files there. Once these are working in the next release, we can rename them back to `test.yaml` so they get picked up again. How's that sound?

[2021-11-12 00:22] realshuting commented on #174
I see a few issues by renaming `test.yaml`:
- we still want to run these tests from kyverno/kyverno main branch, how can we do that if we rename `test.yaml`?
- how do we inform other contributors to follow this?
- there must be someone do the job after a release, I prefer not to

By creating different branches we can point kyverno/kyverno branches to target a single branch, even for the tests that

[2021-11-12 00:25] chipzoller commented on #174
This is a one-time thing. The root of the problem here is that we allowed test cases to be written which we knew didn't work. That was a mistake from day one. If we follow good practices from here forward and this doesn't happen, do we still have a problem? If we're proposing creating branches just to solve this one problem, to me that's more overhead to solve a problem that shouldn't have existed

[2021-11-12 00:49] chipzoller commented on #174
Discussed over Slack. While this one issue might have been an isolated occurrence, larger concerns (which we have recently experienced) center around changing of the `PolicyReport` CRD which the `test` command uses which requires the test manifest structure changes. This can be a breaking change for earlier Kyverno versions which may still need support. Branching is a way to freeze these in place

[2021-11-12 00:50] #174 closed

[2021-11-12 21:53] chipzoller opened #175 "Limits fraction of request"
Pull the policy from a Kyverno PR to use as a sample. Use the divide function to validate a pod's limits are no more than 2.5x its requests for CPU and memory.

[2021-11-15 00:04] chipzoller opened #177 "Kubernetes external-dns policy enforcing unique hostnames"
From [this comment](https://github.com/kyverno/kyverno/issues/2567#issue-1032275803), add the policy.

[code]

[2021-11-25 06:13] ziansong opened #179 "Check deprecated APIs"
wo apply cluster policy
- name: validate-custom-removals
    match:
      resources:
        kinds:
        # - networking.istio.io/v1alpha3/VirtualService
        - autoscaling/v2beta1/HorizontalPodAutoscaler
        - networking.istio.io/v1alpha3/Gateway
  but   autoscaling/v2beta2/HorizontalPodAutoscaler  also deny ,why ???

[2021-11-25 06:40] ziansong commented on #179
also if config  networking.istio.io/v1alpha3/VirtualService ,then v1alpha3 and v1beta1 all deny
if config networking.istio.io/v1beta1/VirtualService  then vibeta1 deny ,  v1alpha3 allow

[2021-11-25 12:55] anushkamittal20 opened #180 "Update existing test.yaml to the new format"
In[ this PR](https://github.com/kyverno/kyverno/pull/2733) we have introduced a new format for test.yaml which should be updated in kyverno/policies as well. The old format will be removed in 1.8.0
New YAML are more in line with kustomize (with k8s style apiVersion and kind)
[code]
Reference : [kyverno/issues/2323](https://github.com/kyverno/kyverno/issues/2323)

[2021-11-29 07:36] ziansong commented on #179
I found that I actually deployed v2beta2 on the eks cluster, but request.object.kind is really v2beta1

[2021-11-29 10:02] realshuting commented on #179
@ziansong - if the policy isn't working as expected, please open an issue in kyverno/kyverno repo with reproduce steps. Thanks!

[2021-11-30 16:53] chrisns opened #184 "psp migration docs help request/beg :)"
Hey
*Thanks for looking at #182 , #181 and #183*

I'm working on https://github.com/appvia/psp-migration wondered if I could beg for some help on the kyverno policy areas.
As per the readme you'll see theres a few (currently 7) policies that I'm a bit stuck on figuring out the syntax for things like ranges, checking something is in a list and more complex boolean logic in the policy for things lik

[2021-11-30 17:25] chipzoller commented on #184
Have you not seen these which are covered by the Kubernetes Pod Security Standards?

https://kyverno.io/policies/?policytypes=Pod%2520Security%2520Standards%2520%28Baseline%29%2BPod%2520Security%2520Standards%2520%28Restricted%29

[2021-11-30 17:31] chrisns commented on #184
Heya, thanks for the quick reply

Yes, as you can see I've copy+pasted with pride (and minor tweaks) a lot of the existing work from that (and this repo)

However I'm trying to recreate PSP not PSS which is a bit more nuanced so means being able to do things like say _"you can have host ports, within a given range"_ for example where as PSS is more _"no host ports for you"_

It is however entirely

[2021-11-30 17:38] chipzoller commented on #184
I'm glad to help cover these gaps, but what I'd request is you providing here a concise list of what the *specific* gaps are with existing Kyverno policies and what a successful policy should do that the closest one doesn't. These can then be checked off a list as they get built and tested.

For example, in your hostPorts instance, the current gap when compared with what we currently have is non-s

[2021-11-30 17:46] chipzoller commented on #122
Any comment?

[2021-11-30 17:53] JimBugwadia commented on #184
Hi @chrisns - thanks! I agree this would be a very valuable resource for folks migrating from PSPs.

For ranges, have you tried specifying as `">=80 & <=9000"`?

See: https://kyverno.io/docs/writing-policies/validate/#operators.

For checking across pod and container level security contexts, the sample pod security policies have handing for this using an `anyPattern`. Here is an example:

https://

[2021-11-30 18:02] JimBugwadia commented on #122
What about requiring `BoundServiceAccountTokenVolume`?

Another option to explore would be to `bind` a pod with a service account (on create) and not allow the same service account to be used in any other pod i.e. TOFU (https://en.wikipedia.org/wiki/Trust_on_first_use). This would prevent other pods from using privileged service accounts.

[2021-11-30 18:08] chrisns commented on #184
@JimBugwadia thanks for the pointers! Think that'll get me most the way there! awesome thanks!

the only other ones I think are:
https://github.com/appvia/psp-migration/blob/main/tests/supplementalGroups/kyverno.yaml
https://github.com/appvia/psp-migration/blob/main/tests/allowedCapabilities/kyverno.yaml
which I'm guessing is a foreach loop, but it feels really copy+pasty, especially if I need to

[2021-11-30 21:14] chrisns commented on #184
down to three remaining test cases: https://github.com/appvia/psp-migration/runs/4373293733 🥳 🎉

---

for `volumes` I need to check the type of volume in a list of volumes e.g.

[code]
against a list of like:
[code]
---
for the other two its a bit simpler, I want to be able to check that the things in a list are in the check list:
[code]
against a list of like:
[code]

[2021-11-30 23:31] JimBugwadia commented on #184
`preConditions` and `deny` rules can match scalar values in lists. That may be useful for `supplementalGroups` and `capabilities`:

https://kyverno.io/docs/writing-policies/validate/#deny-rules

https://kyverno.io/docs/writing-policies/preconditions/

[2021-12-03 14:20] chrisns commented on #184
Hey @JimBugwadia I'm having total brain farts trying to write the syntax for that, could I beg you to point me at the full example I can reuse?
also I was wrong on the `supplementalGroups` I want to be able to provide a collection bunch of ranges
so its:
[code]
against:
[code]

The capabilities however are as I described, also any thoughts on the syntax required for the volumes?

[2021-12-03 14:52] chipzoller commented on #184
Look at [this policy](https://kyverno.io/policies/other/ensure_readonly_hostpath/ensure_readonly_hostpath/) as a starter for doing that.

[2021-12-03 15:40] chrisns commented on #184
@chipzoller I'm probably being thick and slow (Sorry!)
but that policy doesn't really get me close enough
I want to iterate through each object in the array and assert that the object contains a key in a list
maybe this is along the lines?
[code]

[2021-12-03 15:54] chrisns commented on #184
hey, sorry for not being clear
the overall goal is mapping from the psp spec to kynervo: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#volumes-and-file-systems

so I want to be able to have a list of volumes in a kynervo policy that are allowed to be used.

PSP that does this: https://github.com/appvia/psp-migration/blob/main/tests/volumes/psp.yaml

allowed resource: https://gith

[2021-12-03 16:49] chipzoller commented on #184
And why won't an adaptation of [this policy](https://kyverno.io/policies/pod-security/restricted/restrict-volume-types/restrict-volume-types/) work?

[2021-12-03 16:52] chrisns commented on #184
I want to say what is allowed as opposed to defining what is not

[2021-12-03 17:25] chipzoller commented on #184
Ok, so you want that policy to be inverted then. That's a little bit tricker and would need to be a JMEPath expression that checks if `spec.volumes[]` contains keys OTHER THAN `projected` and `emptyDir` and that still allows `spec.volumes[]` to be optional.

[2021-12-03 18:11] chrisns commented on #184
Err. Yeah! One of them! :) ¯\_(ツ)_/¯

[2021-12-03 18:46] chipzoller commented on #184
Well, not just one of them though. It has to ensure that there are no other types aside from `projected` and `emptyDir`. If it was just one of those two, this would be much easier, but then this Pod (below) would work when it shouldn't:

[code]

[2021-12-03 19:02] chrisns commented on #184
A foreach loop that checks each volume?
Other wise if it's not possible to articulate, I could invert the logic in my mapping given there's a well known small list of volumes baked into core k8s

[2021-12-03 19:36] chipzoller commented on #184
I think this will work with the new `AnyNotIn` operator, but I need to test it:

[code]

[2021-12-03 20:28] chipzoller commented on #184
Yep, it works as expected. Because we've got a current issue with the `latest` tag, I'm using the following image tags for testing:

`kyverno`: `latest@sha256:a78a24b758a2e4fd88edd02ccc242dad503fb083a46839dd5c6d14b77a1ad218`
`kyvernopre`: `latest@sha256:1124d52b6363bdbe6a9a8c910786ce7f3b1c90ca400f4f65f88d44df6947e41c`

All Pod tests pass.

## Bad Pods

[code]

[code]

## Good Pods

[code]

[code]

[2021-12-03 20:31] chipzoller commented on #184
cc @anushkamittal20 as these new operators are her work in PR https://github.com/kyverno/kyverno/pull/2543

[2021-12-03 22:42] chrisns commented on #184
@chipzoller Incredible! Looking forward to trying this out Monday! Thanks so much!

[2021-12-04 14:24] chipzoller commented on #184
@JimBugwadia I think this one is going to be more of a problem for Kyverno currently. You remember a while back when we had a discussion in an issue about `foreach` and the ability for it to be pointed directly to an array. Currently, it has to be pointed to an array of objects and a key selected within that. We actually need to resolve a variable here directly to `spec.securityContext.supplementa

[2021-12-04 15:32] chipzoller commented on #184
And this policy will close the "Add Capabilities" PSP analog (also pending Kyverno 1.6.0) which was adapted from [this](https://kyverno.io/policies/best-practices/require_drop_cap_net_raw/require_drop_cap_net_raw/).

[code]

## Good Pods

[code]

[code]

## Bad Pods

[code]

[code]

[2021-12-04 22:07] chipzoller opened #187 "Traefik TLSOption policy"
[code]

[2021-12-04 22:10] chipzoller commented on #175
Will be enabled by https://github.com/kyverno/kyverno/pull/2753

[2021-12-05 01:09] chipzoller opened #188 "Add Disallow All Secrets policy"
From https://github.com/kyverno/kyverno/issues/1070

[code]

[2021-12-05 01:10] chipzoller opened #189 "Add policy to block Secrets based upon label protection"
From https://github.com/kyverno/kyverno/issues/1070

(WIP only)

[code]

[2021-12-05 01:45] chipzoller commented on #189
Because of the issue in https://github.com/kyverno/kyverno/issues/2665, specifically [this comment](https://github.com/kyverno/kyverno/issues/2665#issuecomment-986149486), this sample policy is currently blocked.

[2021-12-05 12:38] #179 closed

[2021-12-05 15:47] chipzoller commented on #171
Ok @rubroboletus after more time on this, I think I've solved it. Although, as mentioned in the above comment, we do have a limitation with `foreach` logic, I am able to work around it by combining `containers[]` and `initContainers[]` into the same array. Here is a policy which finally works (I am tested on latest-ish code but this should work for any of the 1.5 releases).

[code]

Test with this

[2021-12-05 15:55] chipzoller commented on #171
One known limitation I'll point out is with the CLI. The Kyverno CLI currently doesn't recognize JMESPath variables in the format `request.object.spec.[initContainers, containers]` and so testing right now won't be possible. We have an issue for that [here](https://github.com/kyverno/kyverno/issues/2442).

[2021-12-05 18:12] #121 closed

[2021-12-05 20:41] chipzoller commented on #122
I like both of those ideas. Maybe we can create two separate samples based upon them. Your second idea is also interesting, but would have to figure out a way to still allow multiple replicas access to the same SA.

[2021-12-05 21:02] JimBugwadia commented on #122
Yes, that is correct. I think the right binding would be to the pod `image` (in the namespace.) I am wondering if this would also require a feature to mutate existing resources e.g. adding an entry to an existing configmap.

[2021-12-05 23:18] chipzoller opened #190 "Disable ServiceAccount token automount"
[code]

[2021-12-06 13:22] chipzoller commented on #122
`image` may be problematic though for Pods with multiple containers and initContainers. Not quite sure what the right approach is for that one. BoundServiceAccountTokenVolume one seems fairly known.

[2021-12-06 16:37] chipzoller commented on #122
Still reading up on the Bound SA tokens, but here is a prototype which seems to work for the use case.

[code]

`goodpod.yaml`

[code]

`badpod.yaml`

[code]

[code]

@JimBugwadia can you provide feedback on this, please?

[2021-12-06 22:32] chipzoller commented on #184
@chrisns were you able to test and validate any of these in the above responses?

[2021-12-06 22:42] chrisns commented on #184
hey! sorry busy day with other stuff. top of my list for tomorrow morning! thanks again 😄

[2021-12-07 11:34] chrisns commented on #184
- [x] volumes
- [ ] supplementalGroup
- [x] capabilities

supplementalGroup doesn't appear to like referring to `{{ element }}` I get:
[code]
https://github.com/appvia/psp-migration/runs/4443212367?check_suite_focus=true#step:9:22

https://github.com/appvia/psp-migration/blob/kyverno_updates/tests/supplementalGroups/kyverno.yaml

[2021-12-07 12:38] chipzoller commented on #184
Supplemental groups is a pseudo policy. It won't work as written.

[2021-12-07 18:11] chrisns commented on #184
oh I see, sorry misunderstood. is that not currently possible to do in kyverno at the minute then? (sorry if I'm being thick and slow!)

[2021-12-07 18:48] chipzoller commented on #184
For *some* cases it should be possible but for something like what I put together which combines individual numbers and ranges, most likely not.

[2021-12-07 21:03] chrisns commented on #184
For now I've done this, which 'works', and means I can tick the last box in the matrix 🥳
It's not as elegant, but so long as no one has gigantic ranges it'd probably be ok?

[code]

Closing this ticket now that I've ticked everything on the matrix.

May have more questions as I begin to write the code to translate psp policy > kyverno policy

Thanks so much for your help so far, couldn't have done

[2021-12-07 21:03] #184 closed

[2021-12-07 21:15] chrisns commented on #184
https://github.com/appvia/psp-migration/runs/4449431512?check_suite_focus=true 🥳

[2021-12-07 22:24] chipzoller commented on #184
Yes, that'd be better than nothing and is an example of a simpler rule, but it works. Hopefully by 1.6.0 this will be much simpler.

I'll also take these three policies and creating corresponding issues for them here on kyverno/policies so that when 1.6.0 does become available-assuming it solves for these as intended-we can add these as samples and make available on the [policies page](https://kyv

[2021-12-07 22:32] chipzoller opened #191 "PSP migration policy - Supplemental Groups"
From comment [here](https://github.com/kyverno/policies/issues/184#issuecomment-986036183), when 1.6.0 is available with PR https://github.com/kyverno/kyverno/pull/2788 and https://github.com/kyverno/kyverno/pull/2543 merged in, this policy becomes possible.

[code]

[2021-12-07 22:34] chipzoller opened #192 "PSP migration policy - Add Capabilities"
From comment [here](https://github.com/kyverno/policies/issues/184#issuecomment-986045897), when 1.6.0 is available with support for https://github.com/kyverno/kyverno/pull/2543 this policy becomes possible:

[code]

Can probably be simplified with `spec.[initContainers, ephemeralContainers, containers]` notation.

[2021-12-07 22:37] chipzoller opened #193 "PSP migration policy - Allowed Volume Types"
From comment [here](https://github.com/kyverno/policies/issues/184#issuecomment-985777557), when 1.6.0 is released assuming support for https://github.com/kyverno/kyverno/pull/2543 is available, this policy becomes possible:

[code]

[2021-12-08 18:18] chipzoller opened #195 "Adjust PR template"
PR template for this repo needs tweaking to be appropriate to the type of content hosted herein.

[2021-12-08 19:12] #177 closed

[2021-12-08 19:12] #187 closed

[2021-12-08 19:12] #188 closed

[2021-12-08 19:12] #190 closed

[2021-12-10 14:03] chipzoller opened #196 "Add annotation allow list policy"
More policies that use the new operators. Would be good to demonstrate how an allow list is constructed against a dictionary as opposed to a deny list for which many examples exist.

[code]

[code]

Slack thread [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1639138921250100).

[2021-12-10 14:09] chipzoller opened #197 "Add advanced registry allow list sample policy"
Although we've got a very use sample for [restricting image registries](https://kyverno.io/policies/best-practices/restrict_image_registries/restrict_image_registries/), it's fairly simple and there are some more advanced needs out there. One Slack issue came up whereby one or more cluster-wide registries are approved but in addition each Namespace can have one or more approved registries. This sa

[2021-12-10 14:12] chipzoller commented on #171
Have you had time to evaluate this, @rubroboletus ?

[2021-12-10 14:19] rubroboletus commented on #171
not yet, will do it next week and let you know.

[2021-12-15 14:12] chipzoller opened #202 "Create sample for node extended resources"
Create a sample policy to [advertise extended resources](https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/) for new nodes.

[2021-12-16 08:17] vyankyGH opened #203 "Create CLI test policy for wildcard support in match label selector"
Related Issue : https://github.com/kyverno/kyverno/issues/2460
PR : https://github.com/kyverno/kyverno/pull/2832

## Supported Patterns

- "*"
- "*pattern"
- "pattern*"
- "pat*tern"
- "* pattern*"

Policy example
[code]

[2021-12-16 10:54] vyankyGH opened #204 "Update all test.yaml to kyverno-test.yaml"
Default file name change to  kyverno-test.yaml from test.yaml
Related issue: https://github.com/kyverno/kyverno/issues/2322

[2021-12-21 14:54] realshuting commented on #203
@vyankyGH - let's get this change covered in 1.5.3.

[2021-12-21 14:56] chipzoller commented on #203
Can't we just modify an existing policy and files in kyverno/policies to incorporate these checks?

[2021-12-28 13:27] chipzoller opened #209 "Update policy description for Log4Shell"
Based on new information in https://logging.apache.org/log4j/2.x/security.html, need to update the description of the [Log4Shell policy](https://raw.githubusercontent.com/kyverno/policies/main/other/mitigate_log4shell/mitigate_log4shell.yaml) to be accurate.

[2021-12-28 14:51] chipzoller commented on #203
?

[2021-12-28 14:54] realshuting commented on #203
We need to create CLI tests to cover all supported patterns.

@vyankyGH - is this the best place to add tests?

[2021-12-28 15:25] chipzoller opened #211 "Sample policy to restrict ServiceAccounts to create Pods with only the same SA"
A ServiceAccount with privileges to create Pods has the ability to create a Pod and set the `serviceAccountName` field to a ServiceAccount other than the one being used to create said Pod. Create a Kyverno policy that prevents this.

[2021-12-28 15:48] chipzoller commented on #211
[code]

[2021-12-28 23:57] chipzoller commented on #122
Related: https://linkerd.io/2021/12/28/using-kubernetess-new-bound-service-account-tokens-for-secure-workload-identity/

[2021-12-29 15:02] #209 closed

[2021-12-29 15:02] #211 closed

[2021-12-29 21:48] chipzoller opened #212 "[BUG] Fix subject in check-sa policy"
The check serviceaccount policy in https://github.com/kyverno/policies/commit/b4cc7b1248d8cb094622d682bbeb6a0b283a57f2 needs to have "ServiceAccount" added to the subject.

[2021-12-30 17:24] chipzoller opened #213 "Policy to validate Ingress TLS hosts match rule hosts"
Add a sample policy which validates that the host in an Ingress rules section matches TLS hosts.

[code]

Good

[code]

Bad

[code]

Slack thread [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1640863325456200).

[2021-12-31 14:16] chipzoller commented on #91
Milestone in corresponding issue for 1.5.3

[2022-01-06 16:27] #204 closed

[2022-01-07 19:57] chipzoller commented on #171
Bump

[2022-01-10 15:57] chipzoller opened #218 "Sample policy to block debug (ephemeral) containers"
Write a sample policy to block Pod debug (ephemeral containers) ability based on some criteria like labels.

[2022-01-14 13:05] chipzoller opened #220 "Sample policy to add Velero restore policy"
From Slack thread here, add this Velero policy to block restores to the `kube-system` Namespace.

[code]

[2022-01-14 13:39] chipzoller commented on #122
Seems like a policy to require bound service accounts probably isn't going to work because it's an API feature and is either on or off (on by default now). Anything else here or close?

[2022-01-14 14:10] chipzoller commented on #175
This should work but currently isn't

[code]

Relevant PRs [here ](https://github.com/kyverno/kyverno/pull/2753) and [here](https://github.com/kyverno/kyverno/pull/2416).

[2022-01-16 20:36] #122 closed

[2022-01-16 20:40] #220 closed

[2022-01-18 00:09] chipzoller opened #226 "Sample policies for new image data functionality"
Several new policies can be created based on PR https://github.com/kyverno/kyverno/pull/2946, some of which come from the Proof Manifests.

## Resolve image to its digest

[code]

Any Pod can be used, ex.,

[code]

## Block images with volumes

[code]

Bad

[code]

Good

[code]

## Block large images

[code]

Bad

[code]

Good

[code]

## Only trustworthy registries with root users

[code]

Bad

[

[2022-01-18 02:50] shy-Xu opened #227 "Don't mutate image registry if it's specified"
I used this policy: https://kyverno.io/policies/other/prepend_image_registry/prepend_image_registry/

However, I don't want to mutate image registry if I specified a registry, e.g: if image name is library/mysql:latest, I expect to use image "registry.io/library/mysql:latest", if image name is my-registry/library/mysql:latest, I expect to use image "my-registry/library/mysql:latest"

what should I

[2022-01-18 11:19] realshuting commented on #227
Hi @shy-Xu - you can add the [preconditions](https://kyverno.io/docs/writing-policies/preconditions/) to check if the [image registry ](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images)is empty (Kyverno sets default to `docker.io`) for the above policy.

[2022-01-18 12:14] shy-Xu commented on #227
Thank you, but it seems that the [image registry ](https://kyverno.io/docs/writing-policies/variables/#variables-from-container-images) cann't be used in  [preconditions](https://kyverno.io/docs/writing-policies/preconditions/) .

the policy is:
[code]

the error message :
[code]

[2022-01-19 05:36] JimBugwadia commented on #226
@chipzoller - would it be possible to detect if a container layer tries to replace something in a base image?

[2022-01-19 07:41] realshuting commented on #227
I'm testing against the latest kyverno and am able to create the policy.

@shy-Xu - which version of kyverno are you running?

[2022-01-19 13:25] chipzoller commented on #226
In the manifest, there's a layers object which contains size and digest info, so you could conceivably compare a reference image's specific layer to another version and see if there's divergence.

[code]

[2022-01-20 03:40] shy-Xu commented on #227
Thanks you very much. I change my kyverno version from 1.5.1 to 1.5.4 and am also able to create the policy @realshuting

[2022-01-20 08:53] realshuting commented on #227
Great! Can we close this issue?

[2022-01-20 09:37] shy-Xu commented on #227
I'm still stuck with this problem. After I add preconditions, I meet a policyviolation warnning and my policy failes to apply on pods.
[code]

I'm debugging this.

[2022-01-20 14:48] chipzoller commented on #189
Unblocked, working:

[code]

[2022-01-21 01:27] shy-Xu commented on #227
Thank you for your answer @chipzoller, then what should I do? I cann't find a suitable policy in [policies page](https://kyverno.io/policies/)

Will you support this and provide a sample?

[2022-01-21 01:32] chipzoller commented on #227
I think it's easiest to start over:

* What behavior do you want?
* Provide an example of a resource that should be mutated. Show what it should look like after successful mutation.
* Provide an example of a resource that _should not_ be mutated.
* Explain why in each case.

[2022-01-21 01:49] shy-Xu commented on #227
- I want to mutate the image registry if it is not provided, and not mutate the image registry if it is provide.
- An image with name `mysql:latest` should be mutated to `<my-registry-url>/mysql:latest`
- An image with name `docker.io/mysql:latest` should not be mutated
- `mysql:latest` doesn't provide registry url, so we mutate it. However `docker.io/mysql:latest` provides registry url, which mea

[2022-01-21 16:12] chipzoller commented on #227
Try this. It assumes that you will be OK in mutating any images that explicitly begin with `docker.io` as well as those without it (because Kyverno internally translates no registry to `docker.io`). See if it works well. You may need the `1.6-dev-latest` tag for some of the fixes in `foreach`.

[code]

[2022-01-21 21:04] anubhav888 opened #228 "Linux Kernel version check policy for CVE-2022-0185"
NIST recently announced a CVE with Linux Kernel where privilege can be escalated and compromise the node. The Kyverno policy should validate for exposed kernel version and generate audit alerts.

- [x] I have verified the policy does not exist in the [samples library](https://kyverno.io/policies/).
- [ Yes, I have verified this policy does not exist]

**Is your policy request related to a problem?

[2022-01-23 06:10] shy-Xu commented on #227
Great！

[2022-01-23 06:10] #227 closed

[2022-01-23 15:13] chipzoller commented on #228
Seeing an issue in trying to implement this policy.

[code]

Filed https://github.com/kyverno/kyverno/issues/3053

[2022-01-24 23:59] chipzoller opened #231 "Add policy to mutate Pods to add default resource requests"
[code]

[2022-01-27 19:35] chipzoller opened #238 "Adopt GitHub issue forms"
Adopt new issue templates

[2022-01-27 23:34] chipzoller commented on #203
@vyankyGH can you help us close this out, please?

[2022-01-27 23:36] chipzoller opened #239 "Refresh Pod Security Standard policies with updates"
Refresh the PSS policies with ones fully conforming to the current state of the standards.

[2022-01-28 16:22] zeborg opened #242 "Test `kyverno/policies:main` against the `kyverno/kyverno:main` CLI"
**Describe the bug**
Currently the PRs made against `main` branch of this repo are being tested/checked against the latest [release](https://api.github.com/repos/kyverno/kyverno/releases/latest) CLI build of [kyverno/kyverno](https://github.com/kyverno/kyverno) in the CI workflow. This results in some of the PR checks on this repo getting failed due to some bug fixes/changes that have been introdu

[2022-01-28 16:23] chipzoller commented on #242
Working on building this out now and have an error: https://github.com/chipzoller/kyverno-pss/runs/4983235953?check_suite_focus=true

[2022-01-28 16:26] chipzoller commented on #242
Link to https://github.com/kyverno/kyverno/discussions/3049

[2022-01-28 19:40] #242 closed

[2022-01-29 13:24] chipzoller commented on #212
Was done.

[2022-01-29 13:24] #212 closed

[2022-01-29 13:59] chipzoller commented on #228
Even though the above problem needs to be investigated, this policy does work in background mode as tested on Kyverno 1.6.0 (main):

[code]

[2022-01-29 14:34] chipzoller commented on #91
Done

[2022-01-29 14:34] #91 closed

[2022-01-29 19:09] chipzoller commented on #171
Final follow up

[2022-01-29 19:10] chipzoller commented on #173
This is now resolved and available in an updated policy: https://github.com/kyverno/policies/tree/main/other/replace_image_registry

[2022-01-29 19:10] #173 closed

[2022-01-29 21:49] chipzoller commented on #130
Although these annotations have been adopted by the new PSS policy revamp plus other new policies from this point on, let's leave this open as a reminder to go back through the policy library and apply them to all others.

[2022-01-29 21:54] chipzoller commented on #180
This has been taken care of.

[2022-01-29 21:54] #180 closed

[2022-01-29 23:25] chipzoller commented on #175
Have to go with this for now:

[code]

[2022-01-30 00:06] chipzoller commented on #184
@chrisns this is a much better alternative for supplementalGroups:

[code]

I'm putting this in our policy library along with others for your use case under a new category called "PSP Migration". Hope this helps.

[2022-01-30 13:54] chipzoller commented on #193
With the recent updates to the upstream Pod Security Standards, the control which previously was a deny list has been inverted into an allow list thereby covering this policy. PR #241 contains this file [here](https://github.com/kyverno/policies/blob/2de096fdcd999cd6dce5b2ddd4d5c2e9f9811f27/pod-security/restricted/restrict-volume-types/restrict-volume-types.yaml). Since the request in this issue i

[2022-01-30 15:14] chipzoller opened #244 "[Sample] Validate unique Ingress host plus path combo"
Awaiting validation on Slack but if not:

[code]

Convo: https://kubernetes.slack.com/archives/CLGR9BJU9/p1642539475076300

[2022-01-30 16:49] #171 closed

[2022-01-30 16:49] #189 closed

[2022-01-30 16:49] #229 closed

[2022-01-30 16:49] #51 closed

[2022-01-30 16:49] #175 closed

[2022-01-30 16:49] #191 closed

[2022-01-30 16:49] #192 closed

[2022-01-30 16:49] #195 closed

[2022-01-30 16:49] #218 closed

[2022-01-30 16:49] #231 closed

[2022-01-30 16:49] #238 closed

[2022-01-30 16:49] #193 closed

[2022-01-30 16:49] #196 closed

[2022-01-30 16:49] #197 closed

[2022-01-30 16:49] #213 closed

[2022-01-30 16:49] #226 closed

[2022-01-30 16:49] #228 closed

[2022-01-30 16:49] #239 closed

[2022-01-31 21:11] chipzoller opened #247 "[Sample] Allow "safe" labels to be added/changed/removed"
### Problem Statement

In some cases, users are not permitted to change objects but, for operational emergencies, may be allowed to change one or more labels on those objects.

### Solution Description

Write a policy that permits users to add/change/remove a label with only a specific key to different types of resources.

This sample works:

[code]

### Example "Good" Resource

_No response_

###

[2022-02-01 13:44] chipzoller opened #248 "[Bug] Fix verify images duplicates"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Description

https://github.com/kyverno/policies/blob/main/other/verify_image.yaml
and
https://github.com/kyverno/policies/blob/main/other/verify_image_k8s.yaml

need to be differentiated and described

### Steps to reproduce

1.

### Expected behavior

Names are unique and descriptions point out better w

[2022-02-01 13:48] chipzoller opened #249 "[Bug] Eliminate "Workload Management" category"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Description

best-practices/add_safe_to_evict/ uses "Workload management" as its category and is the only policy in that category. Change to "Other" or "Sample"

### Steps to reproduce

1.

### Expected behavior

Removed from current category

### Screenshots

_No response_

### Kyverno logs

_No response

[2022-02-01 13:50] chipzoller opened #250 "[Bug] fix category on restrict-adding-capabilities.yaml"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

Change category to PSP Migration on /psp-migration/restrict_adding_capabilities/restrict-adding-capabilities.yaml

### Steps to reproduce

1.

### Expected behavior

Listed in PSP Migration

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No response_

[2022-02-01 13:54] chipzoller opened #251 "[Bug] /other/only_trustworthy_registries_set_root/only-trustworthy-registries-set-root.yaml change category"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

/other/only_trustworthy_registries_set_root/only-trustworthy-registries-set-root.yaml should not be in the PSS category

### Steps to reproduce

1.

### Expected behavior

/other/only_trustworthy_registries_set_root/only-trustworthy-registries-set-root.yaml to Other

### Screenshots

_No resp

[2022-02-01 13:55] chipzoller opened #252 "[Bug] Duplicate disallow host process policy"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

Remove policy duplicate at /other/disallow_hostprocess/disallow_hostprocess/

### Steps to reproduce

1.

### Expected behavior

Only one host process policy

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I hav

[2022-02-01 17:57] #248 closed

[2022-02-01 17:57] #249 closed

[2022-02-01 17:57] #250 closed

[2022-02-01 17:57] #251 closed

[2022-02-01 17:57] #252 closed

[2022-02-03 16:52] chipzoller opened #258 "[Bug] Restore Kustomize files for PSS"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

I removed the Kustomize files for the PSS policies thinking that we were removing that installation method and only pushing Helm. Turns out that was wrong.

### Steps to reproduce

1.

### Expected behavior

Users can deploy PSS policies using Kustomize as written in the docs.

### Screenshot

[2022-02-03 18:39] #258 closed

[2022-02-07 21:50] chipzoller opened #262 "Update all samples to use a JMESPath non-existence check"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

Need to update all the sample policies to add the JMESPath non-existence check, where applicable so things like `{{request.object.metadata.labels.\"k8s-app\"}}` become `{{request.object.metadata.labels.\"k8s-app\" || ''}}`.

### Steps to reproduce

1.

### Expected behavior

Policies don't fa

[2022-02-09 00:41] chrisns commented on #184
thanks @chipzoller thats much better! have updated the migrator tool https://github.com/appvia/psp-migration/pull/136
it'd be really cool if you could give us a link/shoutout from the kyverno docs to our [tool](https://appvia.github.io/psp-migration/#kyverno-tab) and/or our [blog](https://www.appvia.io/blog/podsecuritypolicy-is-dead-long-live) or just the [repo](https://github.com/appvia/psp-migra

[2022-02-11 12:36] #247 closed

[2022-02-16 07:38] JimBugwadia opened #272 "[Bug] Pod security policy issues"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Minikube

### Description

I installed the pod security policies and ran a test container. It shows violations which are incorrect.

### Steps to reproduce

See below:

[code]

### Expected behavior

Only the ` run-as-non-root` violation should be shown.

The others are invalid as the pod is not setting `allowPriv

[2022-02-16 12:26] chipzoller commented on #272
Jim, based on how the controls are stated for the restricted profile (and therefore how the policies are written), this all looks like correct behavior. There are four rules reporting violations (policy/rule is the format):

1. [disallow-capabilities-strict/require-drop-all](https://github.com/kyverno/policies/blob/main/pod-security/restricted/disallow-capabilities-strict/disallow-capabilities-str

[2022-02-16 16:13] JimBugwadia commented on #272
Got it! Had missed those details in the PSS changes. Thanks for clarifying, @chipzoller!

[2022-02-16 16:13] #272 closed

[2022-02-19 13:59] chipzoller opened #273 "[Bug] Many policies have no tests"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Description

Many policies here have either no tests or not enough tests to cover positive and negative scenarios.

### Steps to reproduce

1. Look at the contents of the repo.

### Expected behavior

All policies, to the extent possible in the Kyverno CLI, should minimally have one positive and one negat

[2022-03-03 23:50] JimBugwadia opened #280 "[Sample] prevent node proxy access"
### Problem Statement

See: https://blog.aquasec.com/privilege-escalation-kubernetes-rbac

Using a node proxy role, it possible to by pass the API server

### Solution Description

Prevent configuration of a node proxy role

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No response_

### Troubleshoot

[2022-03-04 00:21] chipzoller commented on #280
Nodes/proxy is a subresource so writing this might be impacted by the same issues with subresources mentioned on the call today.

[2022-03-10 10:35] HammerNL89 opened #282 "[Bug] PodExecOptions policy fails to create"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Description

When we deploy a new cluster with kyverno v1.6.1 it fails when it tries to create the following policy:
[code]
It throws this error:
[code]
On kyverno v1.6.0 it creates the policy without an error.

### Steps to reproduce

1. Deploy Kyverno 1.6.1 onto a new cluster
2. Deploy clusterpolicy as

[2022-03-10 16:41] floriangeigl opened #283 "Exclude Namespaces Dynamically"
operator: NotIn is deprecated;
I guess "AnyNotIn" would be the right replacement.

[2022-03-10 16:43] floriangeigl commented on #283
opened a PR: https://github.com/kyverno/policies/pull/284

[2022-03-10 16:53] #283 closed, assigned to floriangeigl

[2022-03-18 11:35] oceanweave opened #290 "The "subjects" field cannot be used"
### Problem Statement

error: error validating "sa-rule.yaml": error validating data: ValidationError(ClusterPolicy.spec.rules[0].match.any[0].resources): unknown field "subjects" in io.kyverno.v1.ClusterPolicy.spec.rules.match.any.resources; if you choose to ignore these errors, turn validation off with --validate=false

I encountered the above error prompt, but I did the same thing as the offici

[2022-03-18 12:27] chipzoller commented on #290
What version of Kyverno did you try this on?

[2022-03-20 01:22] oceanweave commented on #290
It shows the version is v2.1.4
[code]

[2022-03-20 01:30] chipzoller commented on #290
This is Kyverno 1.5. The policy supports minimum of 1.6.0 as stated in the annotation.

[2022-03-20 01:51] oceanweave commented on #290
I just upgraded, but I still encounter the same problem. Can you provide an available test case? I'll test it. I can't find a complete test case on the official website

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/24841416/159144628-58ba52b2-10cf-4188-b66f-e1da53211bad.png">

[2022-03-20 02:25] oceanweave commented on #290
https://kyverno.io/docs/writing-policies/match-exclude/

The above link refers to the use of "subjects" field, but this field is not found by using "kubectl explain", so "validate error" always appears. So is the field "subjects" currently under test and cannot be used normally?

[code]

[code]

[2022-03-20 11:30] chipzoller commented on #290
Your indentation is off when you added `subjects` to the [restrict-sysctls policy](https://kyverno.io/policies/pod-security/baseline/restrict-sysctls/restrict-sysctls/).

[code]

[2022-03-20 12:05] oceanweave commented on #290
It has been solved. Thank you very much!
As you said, the "subjects" field is indented incorrectly. It is recommended to update the wrong test case in this link（https://kyverno.io/docs/writing-policies/match-exclude/） because I was misled.

[code]

The description of this official example is as shown above. At present, it is found that "subjects" and "resources" are of the same level, so a problem

[2022-03-20 12:52] chipzoller commented on #290
Thank you, fixed!

Since `match.any` is an array of objects, and `subjects` is an object, including both `resources` and `subjects` under an `any` block is an OR logic. It will apply to any of those.

[2022-03-21 03:25] oceanweave commented on #290
I'm sorry to bother you again. At present, there is no format error in the "subjects" field, but it doesn't seem to work.

The first yaml file is: "this restriction rule applies when creating pod resources and the user is kind kind", and the second yaml file is "test file that violates the rule".

However, no matter the "kind kind" user or the "yeah" user is used, an error will be reported when cr

[2022-03-28 17:37] dadav opened #292 "[Bug] Url in README not found"
The URL [in the readme](https://github.com/kyverno/policies/blob/main/README.md?plain=1#L24) is not working: [https://github.com/kyverno/policies/tree/main/pod-security/baseline/disallow-adding-capabilities](https://github.com/kyverno/policies/tree/main/pod-security/baseline/disallow-adding-capabilities)

[2022-03-29 00:02] chipzoller commented on #292
Thanks for the report. I'll fix this. In the mean time, the example path is here: https://github.com/kyverno/policies/tree/main/pod-security/baseline/disallow-capabilities

[2022-03-31 17:10] shubham4443 opened #294 "[Bug] Generate rules should specify apiVersion in its definition"
### Kyverno Version

1.5.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Description

Generate policies will be covered by the test command soon. See PR kyverno/kyverno#3456. The CLI requires that user mentions apiVersion in generate policy's rule definition otherwise the test command would print out wrong result. Additionally, it is best practice to

[2022-04-22 16:55] ChrisJBurns opened #300 "[Bug] Image always being blocked from allowed registry domain rule"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

AKS

### Description

Kyverno is running in my cluster, I am using the [following policy](https://kyverno.io/policies/best-practices/restrict_image_registries/restrict_image_registries/).

[code]

In combination with an image signature verification policy (that works fine when there is and isn't an image signature

[2022-04-22 17:39] ChrisJBurns commented on #300
Ok, so, I've solved why this is happening. I left out the bit of information where I said we were using Istio with `istio-injection: enabled` on the namespace - mainly because I didn't think it mattered in this context - but I was wrong. This means that when we are trying to deploy the pod, it fails because _technically_ one of the container images - in this case the `istio-proxy` sidecar - are no

[2022-04-22 23:30] JimBugwadia opened #301 "[Sample] Policies for nginx-ingress vulnerabilities CVE-2021-25745 and CVE-2021-25746"
### Problem Statement

## CVE-2021-25745: Ingress-nginx `path` can be pointed to service account token file

Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use the `spec.rules[].http.paths[].path` field of an Ingress object (in the `networking.k8s.io` or `extensions` API group)

[2022-04-23 12:08] chipzoller commented on #301
See this below. Seems to work on all cases I can come up with. Needs polish, annotations, appropriate names, and a good description.

[code]

[2022-04-23 12:10] chipzoller commented on #301
Some Ingress scaffolding you can use:

[code]

[2022-04-25 06:12] JimBugwadia commented on #294
Seems like `apiVersion` is also required for any CRD. Otherwise we see a cryptic error message:

[code]

We need to update the docs for this, and also improve the error message to indicated that the `apiVersion` is required.

[2022-04-25 09:11] sriramss opened #303 "[Bug]"
### Kyverno Version

1.6.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Bare metal

### Description

Kyverno is running in my cluster and I am running the following policy -
[code]
I have a total of 28 policies(similar to the above) in my cluster. These policies are not enforced on any workloads but, I see kyverno is generating false-positive events like this -

[code]

whereas an act

[2022-04-25 12:35] chipzoller commented on #294
Is this for any type of Kyverno rule? I can create a docs issue but need to understand the change.

[2022-04-25 14:17] JimBugwadia commented on #294
No, for generate rules only.

[2022-04-25 14:23] chipzoller commented on #294
https://github.com/kyverno/website/issues/502

[2022-04-25 15:55] #301 closed

[2022-04-26 00:13] chipzoller opened #307 "[Bug] Additional spaces in test resource causes render to print error"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

https://github.com/kyverno/policies/blob/main/openshift/disallow-deprecated-apis/resources.yaml

Render prints an error when it encounters this file:

[code]

### Steps to reproduce

1. `render https://github.com/kyverno/policies/ temp/`

### Expected behavior

`render` doesn't print an error

[2022-04-29 15:25] smcaine opened #312 "Check deprecated APIs"
This ClusterPolicy unfortunately breaks if any of the api's are deprecated, so for example this policy wont get applied to v1.22.x k8s due to following error:\

[code]

Would be good to have another suggested way of doing this in the docs.. like what was posted [here](https://github.com/kyverno/kyverno/issues/3261#issuecomment-1068822279) to avoid apply failures, something like:

[code]

As we use

[2022-04-29 15:33] chipzoller commented on #312
Thanks for bringing this up. I meant to update that policy. Can you confirm that the approach listed [here](https://github.com/kyverno/kyverno/issues/3261#issuecomment-1074820180) does work for you?

[2022-04-29 15:35] smcaine commented on #312
hey, thanks for quick reply, sorry i did not get chance to try yet..

[2022-04-29 15:36] chipzoller commented on #312
If you can check and help test, I'll add this to my list of policies to update for the upcoming 1.7.0 release.

[2022-04-29 15:37] smcaine commented on #312
sure thing, i will be able to test this on Tuesday and get back to you, cheers!

[2022-04-29 15:47] chipzoller commented on #312
Thank you, and if you can also test for the 1.25 deprecations that would be great.

[2022-04-30 22:45] chipzoller opened #313 "[Sample] Kubernetes NFS Subdir External Provisioner, nfs.io/storage-path not empty"
### Problem Statement

https://github.com/kyverno/policies/discussions/256

### Solution Description

Create a policy that ensures the annotation `nfs.io/storage-path` is not empty.

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the do

[2022-05-01 14:03] chipzoller commented on #307
Turns out this wasn't caused by excess spaces but because `spec[]` is an array, which is unexpected, and causing the error. Added as a line item to fix in https://github.com/kyverno/website/issues/59

[2022-05-01 14:03] #307 closed

[2022-05-01 14:27] chipzoller commented on #262
This is complete.

[2022-05-01 14:30] chipzoller commented on #35
In order to do this without resorting to lengthy scripting hacks, need https://github.com/kyverno/website/issues/59

[2022-05-01 14:33] chipzoller opened #315 "[Sample] Literal wildcard match policy"
### Problem Statement

Need a policy to show how to match on a wildcard as a literal character, not as an operator. See here: https://github.com/kyverno/kyverno/issues/1918#issuecomment-1072165126

### Solution Description

Contribute this policy.

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No res

[2022-05-01 22:39] chipzoller commented on #315
Closed in #314

[2022-05-01 22:39] #315 closed

[2022-05-01 22:39] chipzoller commented on #313
Closed in #314

[2022-05-01 22:39] #313 closed

[2022-05-01 22:40] chipzoller commented on #294
Closed in #314

[2022-05-01 22:40] #294 closed

[2022-05-01 22:40] chipzoller commented on #292
Closed in #314

[2022-05-01 22:40] #292 closed

[2022-05-01 22:40] #262 closed

[2022-05-03 13:26] smcaine commented on #312
Hey, yes this all works, have tested both rules successfully.. this only works if you set the `background: true` as wildcards is not supported in background mode.

[2022-05-04 12:18] chipzoller commented on #312
Closed in #317

[2022-05-04 12:18] #312 closed, assigned to chipzoller

[2022-05-04 12:21] chipzoller opened #318 "[Sample] Ensure base image is specified"
### Problem Statement

Images may use old, insecure, or untrusted base images. Typically this info is not surfaced up by default with older tooling. As a best practice, container image builds should specify the image(s) used as base.

### Solution Description

Write a sample that checks an image to ensure a base image is specified in either `moby.buildkit.buildinfo.v1` or `org.opencontainers.image

[2022-05-05 00:52] chipzoller commented on #300
Hi @ChrisJBurns I think your suggestion of adding a line to the linked policy description would be best. When using service meshes like Istio, for example, you can customize the image used for the injection by editing the `istio-sidecar-injector` ConfigMap. In use cases like dark sites, this would be necessary in order to specify the image be pulled from a local registry. That is also an option fo

[2022-05-06 12:56] chipzoller opened #319 "[Sample] Prevent deploying "naked" Pods"
### Problem Statement

Pods deployed "naked" i.e. without a higher-level controller have no self-healing or other controls and should be disabled in production environments.

### Solution Description

An idea taken from [here](https://hub.datree.io/built-in-rules/prevent-naked-pods), write a Kyverno policy which blocks Pods if they don't declare any ownerReferences.

### Example "Good" Resource

[

[2022-05-09 02:56] kranurag7 opened #320 "Kyverno Expects a namespace "foo""
- While testing the policies with `kyverno test disallow_latest_tag` everything is okay but when I want to create the resources in order to see the policies in action, the policy is expecting to have a namespace "foo". I think we should remove the `namespace: foo` from the policy, so that it doesn't throw any error.
![Screenshot from 2022-05-09 08-13-55](https://user-images.githubusercontent.com/8

[2022-05-09 02:58] kranurag7 commented on #320
@chipzoller Should I work on this and raise a PR?

[2022-05-09 11:42] chipzoller commented on #320
Thanks, fixed in my local fork. Will include this in an upcoming PR.

[2022-05-09 16:25] kranurag7 commented on #320
Thank you, @chipzoller, Is there any policy on which I can work? I want to start with writing policies.

[2022-05-09 17:31] chipzoller commented on #320
What is it you'd like to do exactly? In this case, there was no work necessary on the policy but rather a few of the test resources. If you haven't done so already, I'd highly recommend getting familiar with the [documentation](https://kyverno.io) and then perusing some of the many [sample policies](https://kyverno.io/policies) to see how they're written and what they do. Lastly, come join us on #

[2022-05-09 17:50] kranurag7 commented on #320
Thank you, @chipzoller, I will follow up the further discussions in slack.

[2022-05-11 08:09] aslafy-z opened #322 "[Sample] Prevent usage of Ingress defaultBackend field"
### Problem Statement

By default with ingress-nginx, users can use the defaultBackend Ingress field to overwrite the cluster default backend.

### Solution Description

Create a policy to prevent usage of that field.

### Troubleshooting

- [X] I have read and followed the documentation AND the [troubleshooting guide](https://kyverno.io/docs/troubleshooting/).
- [X] I have verified the policy doe

[2022-05-11 12:11] vyankyGH opened #323 "[Bug] Enable subject for policies"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

KinD

### Description

commented out the relevant blocks in the test cases.
Need to add userinfo.yaml for those policies.

Example:
for limit-configmap-for-sa-developer
[code]

### Steps to reproduce

NA

### Expected behavior

NA

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussi

[2022-05-11 14:40] aslafy-z opened #324 "Contributing guide: should we use dashes or underscores"
Should we name the files with dashes or underscores? It should be added to the contribution guide.

[2022-05-11 14:42] chipzoller commented on #324
Doesn't matter, it won't impact anything either way.

[2022-05-11 14:50] aslafy-z commented on #324
I was wondering how I should do, half of the files are using _, the other half -.. I think adding one line to the contribution guide could free us from having to choose one.

[2022-05-11 18:42] #322 closed

[2022-05-17 12:10] domruf opened #328 "[Bug] Policy for 'Replace Image Registry' only uses one rule"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Other (specify in description)

### Description

I've created a policy based on https://kyverno.io/policies/other/replace_image_registry/replace_image_registry/

[code]
The example above is replacing k8s.gcr.io as expected. But when I uncomment the second rule, the first rule has no effect anymore (the image is no

[2022-05-17 17:06] Phil1602 opened #329 "[Bug] Mutate: Wildcard match in precondition does not work as expected"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

Bare metal

### Description

My use case is to append something to a specific image tag. I want to append "-distroless" to some istio-proxy images. I only want to mutate Pods (not Deployment etc.), because I do no want to break the operator, which would always reconcile the Deployment.

I tried out many ways, but

[2022-05-25 09:13] smcaine opened #331 "[Bug] Fix check-deprecated-apis policy"
### Kyverno Version

1.6.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

KinD

### Description

This is in relation to bug reported [here](https://github.com/kyverno/kyverno/issues/3988)

Previous fix for this policy does not work as desired due to error in preconditions. Unfortunately i included `kind` when only `group` and `apiVersion` should have been used.

Also using wildcard for

[2022-05-31 14:09] chipzoller commented on #328
@domruf again, apologies for the delay. We've been heads-down working on 1.7.0 features.

Because `foreach` takes an array/object, this would be the most optimal solution which meets your needs. Pay attention to how I modified the rule to be optimal against the latest version of Kyverno.

[code]

[2022-06-01 15:04] domruf commented on #328
@chipzoller thank you very much. It seems to work this way.

I'm not sure what you mean by '...optimal against the latest version of Kyverno' though.
Do you have a like to a description on how to 'optimize' rules for 1.7?
I guess you removed the initContainers for simplicity reasons?

[2022-06-01 15:25] chipzoller commented on #328
Do you have a like to a description on how to 'optimize' rules for 1.7?

Maybe "updating" would have been a better word. I'm just saying I updated the rule to take advantage of all the latest features.

Yes

Closing, but feel free to respond.

[2022-06-01 16:32] chipzoller commented on #328
There's nothing in here that looks specific to 1.7.0.

[2022-06-02 12:57] #331 closed

[2022-06-02 13:46] chipzoller commented on #290
Closing

[2022-06-02 13:46] #290 closed

[2022-06-02 13:47] chipzoller commented on #273
With the work from @oshi36 and @shubham4443 this issue is effectively closed. Thank you to both for your worthwhile contributions! By having tests for these policies, you help ensure future code quality remains high and less regressions occur.

[2022-06-02 17:35] chipzoller opened #335 "Re-enable test for other/sync_secrets"
### Kyverno Version

1.6.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

Tests were failing from PRs sent to kyverno/kyverno `main` which tested against kyverno/policies `main` on one specific policy test: other/sync_secrets. PRs however sent to kyverno/policies which tested against the same combination passed. Troubleshooting was not able to identify and fix unde

[2022-06-02 17:40] chipzoller commented on #324
Closed in #334

[2022-06-02 17:41] chipzoller commented on #320
Closed in #334

[2022-06-02 17:41] #320 closed

[2022-06-02 17:41] chipzoller commented on #319
Closed in #334

[2022-06-02 17:41] #319 closed

[2022-06-02 17:42] chipzoller commented on #318
Closed in #334

[2022-06-02 17:42] #318 closed

[2022-06-02 17:42] chipzoller commented on #300
Closing with no further comments.

[2022-06-02 17:44] chipzoller commented on #244
Closed in #334

[2022-06-02 17:44] #244 closed

[2022-06-02 17:45] ChrisJBurns commented on #300
@chipzoller  Please feel free to assign this to me and I can track the work to add a line in the policy description.

[2022-06-02 17:59] #329 closed

[2022-06-02 23:22] oshi36 commented on #273
Thank you @chipzoller for the shoutout, this wouldn't be possible without the Kyverno community.

[2022-06-04 22:34] chipzoller opened #338 "[Clean-up] In `main` remove variables and references thereto for `request.operation` equals `CREATE`"
As of the 1.7.0 CLI, if `request.operation` is not specified in a values file, it will be defaulted to `CREATE`. This results in reduced complexity when writing test cases as there is no longer a need for a values file which defines on the `request.operation` variable. Clean these up.

[2022-06-04 22:34] chipzoller commented on #338
@viveksahu26 since your work resulted in this efficiency, this would be a nice bit of clean-up for kyverno/policies if you wanted to take it on.

[2022-06-05 19:15] viveksahu26 commented on #338
Sure, /assign me.

[2022-06-05 19:34] viveksahu26 commented on #338
Removing `values.yaml` file which only contains variables, `request.operation=CREATE`. And what if `values.yaml` file contains multiple varibles including `request.operation=CREATE`. So, will it be good choice of removing only those variables from `values.yaml` which are pointing to `request.operation=CREATE`

[2022-06-05 19:37] chipzoller commented on #338
My suggestion would be to only remove values and variables which solely exist to specify CREATE operations.

[2022-06-05 19:41] viveksahu26 commented on #338
ok, got it.

[2022-06-06 03:50] viveksahu26 commented on #338
Hey @chipzoller , do we need to update similarly for website policies?

[2022-06-06 11:42] chipzoller commented on #338
What do you mean by "website policies"?

[2022-06-06 11:47] #338 closed

[2022-06-06 12:33] viveksahu26 commented on #338
Btw I was talking about these [policies](https://kyverno.io/policies/). But it's fine, no need to do any changes because  there are only bunch of policies not values file.

[2022-06-06 13:29] developer-guy opened #340 "[Sample] Disallow serviceAccount duplicate"
### Problem Statement

Some of the services, such as Workload identity providers of cloud services, SPIFFE, etc., use service accounts and namespaces to give an identity to a pod, so we might want service accounts to be unique for pods. We (w/@dentrax) opened this issue to further discuss this topic, if you agree on this idea, we're willing to write a policy for this, thanks in advance. with

###

[2022-06-06 13:32] chipzoller commented on #340
So is the policy here to prevent duplicate ServiceAccounts from being _created_? If so, the API server will perform that check already. You cannot have two ServiceAccounts with the same name in the Namespace.

[code]

[2022-06-06 13:36] chipzoller commented on #340
How would you handle multiple replicas from the same Pod controller? They're all going to have to use the same SA.

[2022-06-07 02:43] JimBugwadia commented on #340
An option is to bind a service account to an image. The binding can be managed in a ConfigMap, which feeds the policy.

[2022-06-07 02:46] JimBugwadia commented on #340
A variation would be to create the binding on first use, applying the Trust On First Use (TOFU) principal (thanks Dan!)

So, when a SA is assigned, mutate a CM and add the entry to bind to an image. Then not let any other image use the same SA.

[2022-06-07 09:30] developer-guy opened #341 "[Sample] use type docker-image for require-base-image policy for buildkit"
### Problem Statement

There are different types of sources available in type field for BuildKit build information
* sources defines build sources.
	* type defines the source type (docker-image, git or HTTP).
 	* ref is the reference of the source.
	* pin is the source digest.

But in [require-base-image](https://github.com/kyverno/policies/blob/b7a486b005e7fc3b047d7c331b7ae29c0054e168/other/requi

[2022-06-07 11:32] #341 closed

[2022-06-13 07:20] viveksahu26 opened #344 "[Bug] Add [ ]result.namespace field"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Minikube

### Description

The namespace in the result section becomes compulsory when for a given policy , multiple resources are applied to it. And the resources having same name , same kind and different namespace. In such case where resource can only be differentiated on the basis of namespace. Then In such ca

[2022-06-13 11:34] #344 closed

[2022-06-15 02:04] joebowbeer opened #346 "[Bug] disallow-capabilities-strict allows add NET_BIND_SERVICE without drop ALL"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

The PSS/restricted disallow-capabilities-strict policy states:

However, none of the test cases that add NET_BIND_SERVICE drop _any_ capabilities, let alone ALL.

For example:

[code]

### Steps to reproduce

Eyeball the source:
* https://github.com/kyverno/policies/blob/main/pod-security/res

[2022-06-15 11:24] chipzoller commented on #346
This does look a little suspicious, but the way the CLI works according these tests is that each resource is tested against one rule, and there are sets of resources that are only supposed to be relevant to one rule. They aren't cross-tested. The idea is that if each one passes individually, then a union of each resource would pass/fail/skip. For example, that `addcap-goodpod02` does fail (as inte

[2022-06-15 11:24] #346 closed

[2022-06-16 11:13] abelnieva opened #347 "[Bug] Replace Image Registry Deployment and Pod level replacement overlap"
### Kyverno Version

1.6.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Description

We are facing the following issues with [replace image policy](https://kyverno.io/policies/other/replace_image_registry/replace_image_registry/)

as soon as you create the policy it works well when you terminate a POD. The problem starts when you rollout a deployment, the policy also update t

[2022-07-08 17:41] JimBugwadia opened #350 "[Sample] [Karpenter] distribute pods among spot and on-demand based on weights"
### Problem Statement

### Solution Description

One option to investigate is using a Pod Topology Spread Constraint:

https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

https://karpenter.sh/v0.5.6/tasks/scheduling/#topology-spread

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack d

[2022-07-08 17:47] JimBugwadia opened #351 "[Sample] [Karpenter] inject `do-not-evict` for batch workloads"
### Problem Statement

https://kubernetes.slack.com/archives/C02SFFZSA2K/p1657301386740659?thread_ts=1657299639.195769&cid=C02SFFZSA2K

### Solution Description

Based on Kind, inject the `karpenter.sh/do-not-evict: true` annotation to pod templates

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

https

[2022-07-08 18:57] chipzoller commented on #351
Would this be injected to the Pod template for Jobs and CronJobs, or would this just be injected into Pods directly if the `ownerReferences.kind` is a `Job`?

[2022-07-08 19:15] chipzoller commented on #350
Adding topology spread constraints shouldn't be a problem, but need more specifics as to what is required.

[2022-07-09 23:34] chipzoller commented on #351
@JimBugwadia I have an open PR and can fit this in if the above is correct.

[2022-07-09 23:57] chipzoller commented on #347
Hi @abelnieva and sorry for the delay and the issue. I will push an update to this policy which should fix the issue. Here is the updated policy which requires Kyverno 1.6.0+. Can you confirm this fixes it for you?

[code]

[2022-07-09 23:59] chipzoller commented on #347
cc @devopsrick @pparth @ymitsos @jjungnickel @muhammad-hassan-iqbal

[2022-07-10 00:55] JimBugwadia commented on #351
Nice, thanks! I prefer annotating the template, although both should work.

[2022-07-10 01:30] chipzoller commented on #351
The Pod template is what is being annotated here, or did you mean the top level controller?

[2022-07-10 18:51] JimBugwadia commented on #351
Yes, the pod template.

[2022-07-11 01:08] chipzoller commented on #351
Closed in #352

[2022-07-11 01:09] #351 closed

[2022-07-12 16:42] abelnieva commented on #347
Hi @chipzoller , thank you for taking care of it .

![image](https://user-images.githubusercontent.com/12033455/178547046-a7d2bc9c-b21a-4102-a16b-8a5b9191c6d2.png)

sorry i am still facing the same behavior

 `apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: replace-image-registry
  annotations:
    policies.kyverno.io/title: Replace Image Registry
    policies.kyverno.io/category:

[2022-07-12 17:55] chipzoller commented on #347
Ok, I see what's going on. Kyverno is reapplying to bare Pods in addition to the controller.

Try this which only applies to the Deployment and not to the Pods emitted from it. This can be adjusted to add more controllers that use the same schema, but you'll have to create additional rules for Jobs and CronJobs if you want those mutated.

[code]

I'll figure out how to best address this in the lib

[2022-07-12 18:02] abelnieva commented on #347
@chipzoller thanks, I will test it out ,  in the being time this regex update works "{{ regex_replace_all_literal('.*docker.io\/', '{{element.image}}', 'XX.dkr.ecr.us-west-2.amazonaws.com/mirror/docker.io/' )}}"

[2022-07-15 07:56] viveksahu26 opened #355 "Update the status of test results to error [Bug]"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Description

Earlier when the values of preconditions are not found they are assigned as empty string, whereas for variables present outside the block of precondition or normal variables whose value is not found they are assigned as nil and error is thrown. This partiality b/w normal and preconditions va

[2022-07-15 07:56] viveksahu26 commented on #355
Hey @chipzoller , could you please assign this to me.

[2022-07-15 12:36] chipzoller commented on #355
Thanks for taking this up, Vivek. Getting these changes made will be very helpful. We may also need to update some e2e tests on kyverno/kyverno as well.

[2022-07-16 18:08] viveksahu26 commented on #355
Not sure about e2e test cases are present specifically for it or not. But I will look to it, if present then ok. Otherwise need to log an issue for the same to create new e2e test cases.

[2022-07-18 10:42] amansharma00a opened #357 "Drop CAP_NET_RAW"
How to verify if we have successfully dropped net_raw after making the changes ?

[2022-07-18 12:25] chipzoller commented on #357
I'm afraid I don't understand the question. Are you asking how to verify the policy works with a Pod?

[2022-07-19 08:06] aslafy-z opened #360 "[Bug] ingress-host-match-tls is not working with multiple hosts"
### Kyverno Version

1.7.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Description

Kubernetes Platform: RKE/GKE

### Steps to reproduce

1. See tests from https://github.com/kyverno/policies/pull/358

### Expected behavior

1. Succeeds to validate valid ingresses when it has multiple hosts

### Screenshots

_No response_

### Kyverno logs

_No res

[2022-07-19 14:16] zswanson opened #361 "[Bug] inconsistent boolean quoting in sample policies"
### Kyverno Version

1.7.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

GKE

### Description

Several sample policies in the repo are using quotes around booleans in `spec.validation.pattern` while others treat the value as an actual boolean. These are inconsistent and should use the same standard across the policy library.

Example using quoted bools: https://kyverno.io/policies/pod-

[2022-07-22 21:23] chipzoller opened #362 "[Sample] Add label from Dockerfile build as container env var"
### Problem Statement

Apps in containers might need access to the value of a label defined at build time either statically in a Dockerfile or set via CI/CD system. Kyverno can inject this value as an environment variable.

### Solution Description

[code]

### Example "Good" Resource

[code]

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

https

[2022-07-25 12:08] chipzoller opened #363 "[Sample] Label Nodes with CRI"
### Problem Statement

CRI engines log in different formats. Loggers deployed as DaemonSets don't know which format to apply because they can't see this information. By Kyverno writing a label to each node with its runtime, loggers can use node label selectors to know which parsing logic to use.

### Solution Description

Add this policy:

[code]

### Example "Good" Resource

_No response_

### Ex

[2022-07-25 23:41] chipzoller commented on #340
@developer-guy based on what was previously said, is there action for you here? If not, shall we close this?

[2022-07-25 23:43] chipzoller commented on #357
Closing with no response.

[2022-07-25 23:43] #357 closed

[2022-07-26 16:00] #363 closed

[2022-07-28 08:38] adabuleanu commented on #184
I am looking into PSP to Kyverno migration and could not find anything on the kyverno docs (similar to [PSP to PSA migration guide](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp/)) . I think this application is great and it saves a lot of trouble for actual migration. Why is this not referenced anywhere? I think an automated migration tool or at least a migration doc fr

[2022-07-28 12:11] dschunack opened #365 "Restrict Binding to Cluster-Admin"
Hi,

the policy is not correct. "name:" is missing under RoleRef.

[code]
I will create a PR to for this with the correct Code.

[2022-07-28 15:02] chipzoller commented on #184
A tool might not be something that's doable right now, but we could certainly create a new section in the documentation. Anything specific you'd like to see or points you'd like to see made that you found were "gotchas"?

[2022-07-28 15:23] chrisns commented on #184
Tool: https://appvia.github.io/psp-migration/

[2022-08-01 23:42] vgokul984 opened #367 "Mutate label to the existing resource"
### Problem Statement

I am trying to add a label to the existing namespaces with label app: value. It adds the label but not the correct value name. similar I am trying to make the deployment replicas count to 1 for all the namespaces in the cluster by excluding the kube-system namespace, but the policy is not getting excluded for kube-system is getting patched .

both Sample policy attached .
[l

[2022-08-02 10:05] Nerja opened #368 "[Bug] Adding a key to an object inside a foreach mutation does not work"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Description

I tried to create a policy where I add a key to a map[string]string object, using json patching, inside a mutate foreach. See below for the specific policy:

[code]

The policy did not work as expected in all the different cases. The key serverAddress was only added in some cases. See "steps

[2022-08-02 14:06] Nerja commented on #368
Moved to `kyverno`

[2022-08-02 14:07] #368 closed

[2022-08-02 14:20] vgokul984 opened #369 "Mutate label to the existing resource"
### Kyverno Version

1.7.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

EKS

### Description

I am trying to add a label to the existing namespaces with label app: value. It adds the label but not the correct value name. similar I am trying to make the deployment replicas count to 1 for all the namespaces in the cluster by excluding the kube-system namespace, but the policy is not get

[2022-08-02 14:20] #367 closed

[2022-08-02 14:20] vgokul984 commented on #367
Raised the issue in wrong category

[2022-08-02 14:37] chipzoller commented on #369
This really isn't a policy "bug", and as I see you've already created a Slack thread for this [here](https://kubernetes.slack.com/archives/CLGR9BJU9/p1659449357735989), let's close this and continue discussion on Slack.

[2022-08-02 14:37] #369 closed

[2022-08-07 14:04] chipzoller opened #371 "Update check-deprecated-apis with 1.26 and 1.27 deprecations"
### Problem Statement

https://kubernetes.io/docs/reference/using-api/deprecation-guide

### Solution Description

Update this policy with new rules for upcoming deprecations.

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I have read and followed the document

[2022-08-07 16:34] chipzoller commented on #340
Closing.

[2022-08-07 16:34] #340 closed

[2022-08-07 16:51] chipzoller commented on #114
Closing.

[2022-08-07 16:51] #114 closed

[2022-08-07 16:52] chipzoller commented on #10
Closing.

[2022-08-07 16:52] #10 closed

[2022-08-07 16:52] chipzoller commented on #35
Lots of problems with this. Will potentially reevaluate later.

[2022-08-07 16:52] #35 closed

[2022-08-10 13:52] chipzoller opened #372 "Update all verifyImages policies to align to current schema"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

K3d

### Description

Ensure that all verifyImages policies are updated/adjusted to make use of current, non-deprecated fields in the schema.

### Steps to reproduce

1.

### Expected behavior

All samples are current.

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discussion

_No resp

[2022-08-10 21:10] chipzoller commented on #350
There is already a sample [here](https://main.kyverno.io/policies/other/spread_pods_across_topology/spread_pods_across_topology/) which adds topologySpreadConstraints to Deployments, and I think that's probably all we can do as far as this issue is concerned. I'm closing this for now but re-open if there's a more specific action we can take here.

[2022-08-10 21:10] #350 closed

[2022-08-10 21:12] chipzoller commented on #280
This has been completed and is available [here](https://main.kyverno.io/policies/other/restrict-clusterrole-nodesproxy/restrict-clusterrole-nodesproxy/).

[2022-08-10 21:12] #280 closed

[2022-08-11 07:17] #355 closed

[2022-08-11 16:07] chipzoller opened #373 "[Sample] Add back a policy with KMS verification"
### Problem Statement

GCPKMS verification doesn't seem to work in Kyverno 1.7.2, and owing to the breaking changes in Cosign which forced us to adopt 1.9.0 internally, earlier versions of 1.7.x do not work at all. As a result, I had to remove the image verification sample which uses GCPKMS. Once https://github.com/kyverno/kyverno/issues/4330 is resolved, we can add such a sample back.

### Soluti

[2022-08-12 09:28] #347 closed

[2022-08-12 09:28] #361 closed

[2022-08-12 09:28] #371 closed

[2022-08-12 09:28] #372 closed

[2022-08-12 15:25] chipzoller opened #376 "[Bug] Verify Image with Multiple Keys"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Description

The [Verify Images with Multiple Keys](https://main.kyverno.io/policies/other/verify_image_with_multi_keys/) policy, as it's written currently, doesn't work and from my testing I don't see how it's possible to make it work in the current implementation of verifyImages rules. For reference, th

[2022-08-21 21:20] joebowbeer commented on #109
To be clear, the spec and the k8s code both require "ALL" (caps)

[2022-08-24 17:40] awhitepl opened #378 "[Bug] add_ns_quota Generate Policy could use improved"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

EKS

### Description

Because it's a generate policy, enforce/audit has no meaning here. But if you look at the cluster policies, it reflects that it's in 'audit' mode

[code]

This make it seem like the add-ns-quota policy isn't doing anything because the action is 'audit' but in reality it's generating resources

[2022-08-25 18:30] awhitepl opened #379 "[Sample] Deny undefined Deployment from executing"
### Problem Statement

Sometimes Deployments are launched in a cluster and forgotten about or are unauthorized.

### Solution Description

This policy would deny all undefined Deployments from existing in the cluster.

### Example "Good" Resource

[code]

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No response_

### Troubleshooting

- [X] I

[2022-08-28 21:35] chipzoller commented on #376
@JimBugwadia can you look at this and comment?

[2022-08-28 21:36] chipzoller commented on #379
In your Solution Description, I don't understand what you're saying here. Please elaborate.

[2022-08-28 21:38] chipzoller opened #380 "Update PSS with 1.25 changes"
As of 1.25, in a Pod the `spec.os` is now enforced and obeyed whereas previously it was null. See blog [here](https://kubernetes.io/blog/2022/08/25/pod-security-admission-stable/#changes-to-the-pod-security-standards). Need to update PSS policies so for the three mentioned controls in the Restricted profile it only takes effect if the `spec.os` is ≠ `windows`.

[2022-08-28 21:45] JimBugwadia commented on #376
The variable path should be `{{ image.name }}`.

The `images` variable contains all images as specified in the docs: https://main.kyverno.io/docs/writing-policies/variables/#variables-from-container-images.

The image verification rule additionally adds an `image` variable, as each image is processed. This does not seem to be documented, so something we should add to the docs.

[2022-08-28 22:00] chipzoller commented on #376
This fails to create throwing a "invalid variables" error:

[code]

Is this specified correctly? If so, bug?

[2022-08-29 00:05] JimBugwadia commented on #376
Fails where? Webhook? CLI? Both?

[2022-08-29 00:06] JimBugwadia commented on #376
Yes, `image` should be allowed.

[2022-08-29 01:50] chipzoller commented on #376
Logged #4436

[2022-08-29 03:37] james-callahan opened #381 "Add labels to policies"
Currently policies are enriched with metadata via annotatations.
Instead (or in addition), could we add labels to the policies?

 - Would provide a workaround for https://github.com/kubernetes-sigs/kustomize/issues/3887#issuecomment-1229717161
 - Would allow easily show metadata when using `kubectl` via the ` -L, --label-columns=[]` argument. e.g. `kubectl get clusterpolicy -L policies.kyverno.io/

[2022-08-29 11:48] chipzoller commented on #381
Annotations are quite important right now on Kyverno policies as they're the means by which the whole filtering system works on the [policy webpage](https://kyverno.io/policies/). That plus the rendering program we use to generate Markdown from the policies relies upon it. We'll consider it, but it's not that easy to just switch over.

[2022-08-29 16:29] chipzoller commented on #379
Closing until more details are provided.

[2022-08-29 16:30] #379 closed

[2022-08-29 21:47] chipzoller commented on #361
The rationale was internal consistency at a time when quoting of booleans was required in policies using overlay patterns. If that is no longer required, and I believe it isn't, we can update the policies (consistently) to remove quotes. However, as you've no doubt seen, it doesn't affect the efficacy of the policies.

[2022-08-30 13:54] jyotibhanot opened #382 "How can I exclude certain namespaces from policies"
### Problem Statement

I am trying to implement `LimitRange` on specific namespaces. But I would like to exclude few namespaces. How can I achieve that. Tried doing this:

[code]

Any leads would be highly recommended

### Solution Description

A solution that would help to achieve the above scenario

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other

[2022-08-30 14:00] chipzoller commented on #382
Your match and exclude blocks would look like this:

[code]

Also note that by default, Kyverno will exclude `kube-system` and `kube-node-lease` Namespaces automatically. This means you don't need to exclude them again in a policy. The exception would be if you removed the relevant entries from the [resource filter](https://main.kyverno.io/docs/installation/#resource-filters) in the ConfigMap.

Cl

[2022-08-30 14:00] #382 closed

[2022-08-30 14:56] jyotibhanot commented on #382
It gives me error : error: error validating "limits.yaml": error validating data: [ValidationError(ClusterPolicy.spec.rules[0].exclude.any[0]): invalid type for io.kyverno.v1.ClusterPolicy.spec.rules.exclude.any: got "string", expected "map", ValidationError(ClusterPolicy.spec.rules[0].exclude): unknown field "names" in io.kyverno.v1.ClusterPolicy.spec.rules.exclude]; if you choose to ignore these

[2022-08-30 14:58] chipzoller commented on #382
What version of Kyverno?

[2022-08-30 15:02] jyotibhanot commented on #382
v2.5.3. Messaged you on slack as well

[2022-09-01 09:40] iamraj007 opened #383 "[Bug] Restrict-privileged-containers should fail deployment with no securityContext for privileged containers , but it did not"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

AKS

### Description

spec.containers[*].securityContext.privileged** must not be set to true.

Kubernetes version: 1.23.8
app.kubernetes.io/version=v1.7.3
Image: ghcr.io/kyverno/kyvernopre:v1.7.3

 Normal    PolicyApplied             clusterpolicy/restrict-privileged-containers      (combined from similar events)

[2022-09-01 11:35] #383 closed

[2022-09-06 14:33] chipzoller opened #385 "Create new branch for upcoming v2 schema"
Create a new branch for kyverno/policies where some (at least PSS) can be upgraded to the new v2beta1 schema.

[2022-09-06 15:06] chipzoller commented on #385
Created `v2` branch; will begin to migrate some of the policies to v2beta1.

[2022-09-06 15:06] #385 closed

[2022-09-07 19:02] awhitepl opened #386 "[Sample] Secret Rotation Alert"
### Problem Statement

Have a policy to fail (or alert via policy-reporter) of secret age after a certain length of time.

### Solution Description

This policy would check that best practices are maintained for secret rotation in a cluster.

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

### Slack discussion

_No response_

[2022-09-07 19:25] chipzoller commented on #386
Need more details on this request, please.

[2022-09-08 12:30] realshuting opened #387 "[Bug] Fix 1.8 CLI tests failure"
### Kyverno Version

1.8.0-rc1

### Kubernetes Version

1.24.x

### Kubernetes Platform

Bare metal

### Description

Need to fix CLI tests failure against release-1.8 branch https://github.com/kyverno/policies/runs/8248978631?check_suite_focus=true#step:5:122.

### Steps to reproduce

n/a

### Expected behavior

n/a

### Screenshots

_No response_

### Kyverno logs

_No response_

### Slack discu

[2022-09-08 16:46] chipzoller commented on #386
@awhitepl

[2022-09-09 18:32] awhitepl opened #391 "Eliminate white space on empty lines"
### Problem Statement

All the policies in this repo seem to have white space on empty lines. In my organization at least this is prohibited in our yamllint and I have to manually remove them with (let's say with vim, :%s/\s\+$//e). This increases the number of manual changes I have to make from this repository to installing into clusters and if it can serve to reduce the linting working of other

[2022-09-09 19:04] awhitepl commented on #386
Sorry, just saw the ping. It is just an idea to add an extra layer of alerting for long lasting secrets that might be unexpected behavior from secret rotation strategies. If secret age > 30 days fail and in audit mode it would send notifications to the correct channel via mechanisms setup in policy-reporter. A more advanced usage would be to use mutate to autogenerate the secret but that has a hig

[2022-09-09 20:59] chipzoller commented on #386
So would you just expect to look at `metadata.creationTimestamp` for this? What if someone updates the existing Secret? That value wouldn't get updated and there by default isn't anything else written to it.

[2022-09-11 23:34] chipzoller commented on #380
Kyverno 1.8.0 is the first version that will be able to get the API server's version (by requesting `/version`). Prior to kubelet 1.24, `spec.os` could be set yet wasn't enforced. This means to update the PSS policies appropriately with the relaxed controls for running on Windows requires minimum version of Kyverno 1.8.0 or else it could mean policy circumvention.

[2022-09-12 13:06] chipzoller commented on #387
Fixed by https://github.com/kyverno/policies/pull/388

[2022-09-12 13:11] chipzoller commented on #387
My mistake, reopen.

[2022-09-12 13:16] chipzoller commented on #387
Merged

[2022-09-12 13:16] #387 closed

[2022-09-19 01:24] ron1 opened #396 "[Bug] argo-cluster-generation-from-rancher-capi policy does not propagate label changes"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Description

Platform: Rancher RKE2

When the labels for a Rancher `cluster.provisioning.cattle.io/v1` resource are changed, Kyverno policy `argo-cluster-generation-from-rancher-capi` should propagate the label changes to the corresponding ArgoCD cluster secret. In order to fix

[2022-09-20 23:44] JimBugwadia opened #398 "[Sample] Tekton policies"
### Problem Statement

Tekton sample policies

### Solution Description

Add sample policies from:

https://github.com/nadgowdas/protect-the-pipe-demo

https://www.cncf.io/blog/2022/09/14/protect-the-pipe-secure-ci-cd-pipelines-with-a-policy-based-approach-using-tekton-and-kyverno/

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No respo

[2022-09-21 01:49] lu-you opened #399 "I set background to true, but my rules are not valid for existing resources and must be rebuilt to take effect"
### Kyverno Version

1.7.x

### Kubernetes Version

1.20.x

### Kubernetes Platform

Other (specify in description)

### Description

I set background to true, but my rules are not valid for existing resources and must be rebuilt to take effect

k8s cluster version：1.19
rule:
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: add-dnspolicy
spec:
  background: true
  rules:
  - name: a

[2022-09-21 13:12] chipzoller commented on #399
@lu-you please see the documentation on mutation for existing resources [here](https://main.kyverno.io/docs/writing-policies/mutate/#mutate-existing-resources). This is not controlled by the `background` flag and so it appears you're under the wrong impression of how this works. Closing this as it's a usage issue, but feel free to respond here or come to the #kyverno channel on Kubernetes Slack if

[2022-09-21 13:12] #399 closed

[2022-09-22 16:12] #398 closed

[2022-09-22 16:27] chipzoller commented on #386
@awhitepl

[2022-09-24 16:17] zensqlmonitor opened #401 "Verify Flux Sources"
Kyverno Version
1.7.x

Kubernetes Version
1.23.x

Kubernetes Platform
EKS

Description

When trying to do a Kustomization reconciliation with Flux, resources of kinds ImageRepository is not accepted (works for HelmRepository and GitRepository)

E0924 16:06:30.959019       1 admission.go:95] WebhookServer/PolicyValidationWebhook "msg"="policy validation errors" "error"="the kind defined in the any

[2022-09-24 16:34] chipzoller commented on #401
Interesting. What versions of Kyverno and Flux? Do you get the same error if you remove the exclude statement?

[2022-09-24 17:25] zensqlmonitor commented on #401
Kyverno version: 1.7.3
flux: v0.34.0
helm-controller: v0.24.0
kustomize-controller: v0.28.0
notification-controller: v0.26.0
source-controller: v0.29.0
-------------------------------------
Same error when exlude statement is removed:
kyverno-policies     84m   False     ClusterPolicy/verify-image-repositories dry-run failed, error: admission webhook "validate-policy.kyverno.svc" denied the reques

[2022-09-26 06:12] leon-marcel opened #402 "[Bug] Kyverno doesn't allow adding labels to pods"
### Kyverno Version

1.7.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

OpenShift

### Description

Kyverno can't add Labels to pod because it is missing the required rights.

### Steps to reproduce

1. Install kyverno through Helm package
2. Create a policy that adds a label to pods
3. Kyverno can not update the pods

### Expected behavior

I exptected that kyverno was able to alter

[2022-09-29 16:50] vilaspatel opened #406 "The current require-network-policy only checks preexisting NetworkPolicy"
### Problem Statement

The current require-network-policy only checks preexisting Network Policy for deployment , it skips the existing deployments

policy : "https://kyverno.io/policies/other/require_netpol/require_netpol/"

### Solution Description

can we have a policy to check the deployments which were created before kyverno policy was deployed .

### Example "Good" Resource

_No response_

#

[2022-10-03 05:56] kranurag7 commented on #406
@vilaspatel In the same policy, you can use `background: true`

[2022-10-04 09:29] zensqlmonitor commented on #401
Hello,

were you able to reproduce this error ?
Thanks.

[2022-10-04 12:21] chipzoller commented on #401
Yes, you're getting this error because you have not installed Flux with the `image-reflector-controller` extra. Without this flag/configuration, Flux will not create the ImageRepositories CRD. If Flux does not create this CRD, Kyverno cannot find it when you create the policy.

Closing, not a bug.

[2022-10-04 12:21] #401 closed

[2022-10-04 12:40] chipzoller commented on #406
Correct, yes, you should configure `background: true`. You may also need to remove the precondition as there is no operation for an existing resource. Closing but feel free to respond.

[2022-10-04 12:40] #406 closed

[2022-10-04 12:43] chipzoller commented on #386
Closing with no response.

[2022-10-04 12:43] #386 closed

[2022-10-04 14:36] zensqlmonitor commented on #401
Thanks for the feedback.
Indeed, Flux was installed with eksctl and the default configuration.

[2022-10-06 01:23] chipzoller commented on #402
@leon-marcel apologies for the delay here. This is one (although there are many) example of users potentially needing to grant the Kyverno ServiceAccount additional privileges needed in some cases. This isn't a "bug"; it's a desire to balance commonly-performed tasks with the need for minimal privileges. This is noted in the docs [here](https://main.kyverno.io/docs/installation/#roles-and-permissi

[2022-10-06 01:23] #402 closed

[2022-10-11 03:52] james-callahan opened #411 "[Bug] restrict-binding-system-groups always fails"
### Kyverno Version

1.8.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

The rule at https://github.com/kyverno/policies/blob/193c90a87ee010c7e4606abaaa71bd5930c6da8c/other/restrict_binding_system_groups/restrict-binding-system-groups.yaml always fails with:
[code]

### Steps to reproduce

Example rolebinding that is failing for me:
[code]

### Expected behavior

[2022-10-11 12:27] chipzoller commented on #411
The policy is indeed wrong. It should use `roleRef` as the key.

Fixed policy looks like this:

[code]

[2022-10-11 13:01] #411 closed

[2022-10-11 15:41] jemag opened #413 "drop-all-capabilities: "all" should be case insensitive"
I should first preface this by mentioning that I am aware that this issue exists https://github.com/kyverno/policies/issues/109.

That being said, currently the provided policy will reject any policy that includes
[code]

There are a couple of problems with this:
- A lot of 3rd party software comes with this `all` out of the box, including large CNCF projects such as coredns : https://github.com/c

[2022-10-13 10:41] ron1 opened #418 "[Sample] Kubeops Config Syncer Secret Generation From Rancher CAPI Secret"
### Problem Statement

The AppsCode Config Syncer supports syncing ConfigMaps/Secrets across Clusters. This feature requires a pre-existing kubeconfig Secret described [here:](https://appscode.com/products/kubed/v0.12.0/guides/config-syncer/inter-cluster/#deploy-kubed). The Helm chart for this tool has a property `config.kubeconfigContent` which is used to create the above secret if it is provided

[2022-10-13 21:29] jemag commented on #413
Thank you for the reply.

Just to be sure, I am guessing similar modifications will be applied to [drop-all-capabilities](https://kyverno.io/policies/best-practices/require_drop_all/require_drop_all/)?

[2022-10-13 21:35] chipzoller commented on #413
Yes

[2022-10-13 21:57] #413 closed

[2022-10-14 02:23] cuishuyuanCode opened #422 "[Bug] Unique Ingress Host"
### Kyverno Version

1.7.4

### Kubernetes Version

1.24.x

### Kubernetes Platform

Other (specify in description)

### Description

when use the unique-ingress-host policy and create a ingress,

I see a fail report message

"The Ingress host name must be unique."

but my ingress host name is unique

### Steps to reproduce

1.Create and apply the Policy
[code]
2.Create and apply the Ingress
[code

[2022-10-14 12:01] chipzoller commented on #422
@cuishuyuanCode I cannot reproduce this with Kyverno 1.7.5. When I test a cluster that has no prior Ingress resources, create this policy, and create your sample Ingress, the policy report is a `Skip`. In 1.8.0 this is a `Pass`.

[2022-10-14 15:20] monotek opened #425 "[Bug] policies/best-practices/require_probes always fails"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

CLI run of kyverno always failes on [policies/best-practices/require_probes](https://github.com/kyverno/policies/blob/main/best-practices/require_probes/require_probes.yaml)

It's also non deterministic, as multiple runs have slightly different results. Once it fails for the readiness probe a

[2022-10-14 21:19] #396 closed

[2022-10-14 21:20] #418 closed

[2022-10-16 20:43] monotek opened #429 "[Bug] "logical and" does not work"
### Kyverno Version

1.8.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

AKS

### Description

I try to write a policy which requires to have topologySpreadConstraints for the topologyKeys "kubernetes.io/hostname" and "topology.kubernetes.io/zone"

Using the "|" operator instead of the "&" operator works, but then only 1 of the topologyKeys needs to be availbale.

I want to have both t

[2022-10-17 01:51] cuishuyuanCode commented on #422
i have problem with kyverno at 1.7.4.

[2022-10-18 07:20] cuishuyuanCode commented on #422
I find that istio ingress affects ingress policy

[2022-10-18 07:21] cuishuyuanCode commented on #422
I don't know is this normal?

[2022-10-18 10:18] franroa opened #430 "[Bug] Collision between policies"
### Kyverno Version

1.7.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Description

Hi, I have created two policies that are tightly related and collide.
The Idea is that I want to:
Set my pods nodeSelector with a label in the pod's namespace. This is working perfectly,
Set a namespace label by default in case that the namespace were not created with labels. This is working

[2022-10-18 12:31] chipzoller commented on #430
In your first rule, you probably should use a precondition which restricts the matching of Namespaces to a `CREATE` operation so that subsequent labeling (which triggers an `UPDATE`) is excluded.

[2022-10-18 13:07] franroa commented on #430
Hi, thank you for the answer. I also tried it.
So this was my last try:
[code]
[code]

I ended up ignoring the failure.

[2022-10-18 13:48] #430 closed, assigned to nobody

[2022-10-18 20:18] chipzoller commented on #422
I'm not understanding why this is a problem for you. The policy does work as designed. If you're finding that it doesn't, I need a way to reproduce this on my end. Please supply more details here.

[2022-10-19 01:55] cuishuyuanCode commented on #422
1.i create and apply policy
2.create and apply ingress
3.
[code]
now,i get the result is skip.
![image](https://user-images.githubusercontent.com/101328588/196578115-2e45f2ec-7b09-4458-8440-e7c634631ed8.png)

4.delete ingress
[code]
now, my ingress is empty
![image](https://user-images.githubusercontent.com/101328588/196578264-03c9c364-b636-45b5-b356-27c3cbc82393.png)

5.now,i apply the ingress ag

[2022-10-19 02:32] cuishuyuanCode commented on #422
if i delete ingress and wait about 5minutes,now create ingress the result is skip,
If I delete the ingress and immediately recreate it, the result is fail

[2022-10-20 15:51] tgburke opened #437 "[Bug] VerifyImages annotations on Deployment/StatefulSet, etc does not include multi-container images in annotation"
### Kyverno Version

1.7.x

### Kubernetes Version

1.21.x

### Kubernetes Platform

EKS

### Description

Kyverno Verify Images Policy does not update `kyverno.io/verify-images` annotation for multi-container Deployments with both image validation entries.  This causes Kyverno to produce an kubernetes event on the Deployment for the second image as `unverified image`.  This is also true for State

[2022-10-21 06:50] cuishuyuanCode commented on #422
kyverno 1.8.1-rc2 also has the problem.

### **Steps to reproduce**
1.create and apply policy
[code]
unique-ingress-host.yaml
[code]

2.see the ingress is empty
![image](https://user-images.githubusercontent.com/101328588/197126358-91abbf1e-2e4b-441f-91fb-82586602ee85.png)

3.create and apply ingress
[code]
ingress-host.yaml
[code]
4.my ingress is unique
![image](https://user-images.githubusercont

[2022-10-21 06:56] cuishuyuanCode commented on #422
And I find that if I use ```configMap``` instead of ```apiCall```, the policy report will not have this problem.

[2022-10-21 21:24] chipzoller commented on #422
Thanks for the report. I found the issue. It's outdated policy language which is somehow copying the value of the ingress hosts from the resource into the results of the API call. This updated version works. I will fix this immediately in the library.

[code]

Please confirm it works for you.

[2022-10-25 02:15] ron1 opened #439 "[Bug] Leverage Preconditions to optimize Kubeops config-syncer-secret-generation-from-rancher-capi"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Description

Leverage preconditions to optimize Kubeops config-syncer-secret-generation-from-rancher-capi ClusterPolicy `kubed` Secret updates. This optimization avoids repeatedly updating the Kubeops kubed Secret.

### Steps to reproduce

The current Kubeops config-syncer-secre

[2022-10-25 05:19] cuishuyuanCode commented on #422
hello @chipzoller ,I tried to use the policy you provided. it's also has the problem，

**Steps to reproduce**

kyverno version:  latest
[code]

1.confirm my ingress is empty
[code]
![image](https://user-images.githubusercontent.com/101328588/197686601-c3cdeaa4-cf19-4788-84e5-4a20d0f69a57.png)

2.create and apply policy
[code]
unique-ingress-host.yaml
[code]
3.create and apply the ingress
[code]
in

[2022-10-25 09:04] cuishuyuanCode commented on #422
I can't see the results of apiCall when ingress is created.
i guss the ```apiCall``` has problem,

[2022-10-25 13:30] realshuting opened #440 "Update imageVerify sample policy"
The policy report is still generated for violated resources.

Here's the manifest to reproduce the issue:
[code]

[code]

After created the policy and the resource, I can see the admissionreport but no policyreport:
[code]

I can get the report correctly if I add `- ghcr.io/kyverno/test-verify-image@*` to `imageReferences`.

cc @eddycharly

_Originally posted by @realshuting in https://github.com/

[2022-10-25 14:47] realshuting commented on #440
The sample policy on the doc page https://kyverno.io/docs/writing-policies/verify-images/#verifying-image-signatures may also need to be updated.

[2022-10-27 06:40] npneeraj commented on #429
@monotek   sir , I would like to contribute to this issue.

[2022-10-27 13:33] chipzoller commented on #429
I think this isn't a bug but will just require a slightly different approach in policy authoring. The overlay pattern in this case is an array/object and is looking for both of those values in a single object which isn't your intention. I'd suggest re-writing this so it's a `deny` rule using a JMESPath rule which looks at the keys `topologyKey` and ensures both are present in the parent object.

[2022-10-28 11:47] chipzoller commented on #440
Why would changing the value of the image in the rule impact whether the intermediate AdmissionReport got aggregated into the PolicyReport? Smells like a bug...

[2022-10-28 11:56] chipzoller commented on #422
Please test with kyverno 1.8.1. We made significant changes to the reporting system between 1.7 and 1.8.

[2022-10-30 12:26] chipzoller commented on #429
You can't have two `||` (OR operators) in the same expression. You'll probably want to use two different deny expressions, one for each TSC. You'd then use an `all` instead of an `any` clause.

[2022-10-30 12:53] chipzoller commented on #429
Sorry, sorry, my mistake. I didn't see the first OR expression was _inside_ the query statement. Yes, this looks like it should work fine, and clearly it does since the tests you say you've done appear complete.

[2022-10-30 12:53] chipzoller commented on #429
Closing as resolved, but if you'd like to contribute this in a PR, we'd love to add it!

[2022-10-30 12:53] #429 closed

[2022-10-30 13:27] monotek commented on #429
Done :)

https://github.com/kyverno/policies/pull/443

[2022-10-31 02:39] cuishuyuanCode commented on #422
I also had this problem with version 1.8.1

[2022-10-31 13:39] joebowbeer commented on #413
@jemag Do you have a reference for the statement that lowercasing all of these capabilities works and implements the expected security? All I see in the description is support for the statement that the lowercase form exists in some places in the source code, which I do not doubt.

[2022-11-01 14:55] shivaylamba opened #446 "[Sample] Add a policy for Consul Service Mesh for TLS Min - Mesh Configuration"
### Problem Statement

We want to create a policy for Consul service mesh to add a policy for the mesh configuration. The policy will check the TLS Min version to ensure that whenever the mesh is configured, there is a minimum version of TLS set for all the service mesh proxies.

### Solution Description

Here is an example of a sample policy:
[code]

### Example "Good" Resource

_No response_

##

[2022-11-01 14:56] shivaylamba commented on #446
cc @ashwinexe

[2022-11-01 15:27] chipzoller commented on #446
Please follow the [contribution guidelines](https://github.com/kyverno/policies#contribution) and open a PR against this repository. Please add one positive (passing) and one negative (failing) test case using the [Kyverno CLI](https://kyverno.io/docs/kyverno-cli/). There are many examples in this repo of such tests which you may use to model yours.

[2022-11-02 01:49] cuishuyuanCode commented on #422
why close the bug?

[2022-11-02 01:52] cuishuyuanCode commented on #422
But there are still problems

[2022-11-02 01:53] chipzoller commented on #422
Have you tried the fix I provided?

[2022-11-02 01:53] cuishuyuanCode commented on #422
yes

[2022-11-02 01:57] chipzoller commented on #422
Look at the PR and test the fixed policy. It solves the problem you reported.

[2022-11-02 02:07] cuishuyuanCode commented on #422
I have tested the policy you provided and it still has problems，
you can look this link: (i test kyverno version is 1.8.1)
https://github.com/kyverno/policies/issues/422#issuecomment-1289995568

[2022-11-02 11:31] chipzoller commented on #422
You're right, I am still seeing the same behavior! Curiously, if I change the name of the context variable from `{{hosts}}` to `{{existinginghosts}}` it works. Can you try that and also confirm it works consistently?

[2022-11-02 12:19] cuishuyuanCode commented on #422
Ok，Will anyone fix the problem you described ?

[2022-11-02 12:20] chipzoller commented on #422
We will investigate. Transferring to kyverno/kyverno.

[2022-11-03 01:14] ron1 opened #448 "[Bug] Strip '-kubeconfig' suffix from config-syncer cluster name to minimize confusion"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Rancher RKE2

### Description

Current config-syncer-secret-generation-from-rancher-capi policy includes '-kubeconfig' as a cluster name suffix which is confusing. So strip '-kubeconfig' suffix from config-syncer cluster name to eliminate this confusion.

### Steps to reproduce

1. Apply config-syncer-secret-gener

[2022-11-03 21:18] jemag commented on #413
In terms of the documentation, you are right that I could not find an official statement about lowercase vs uppercase.

In terms of working, it is relatively straight forward to test, for example, here I have 3 containers, one using capital form (top right), one lower case form (bottom left) and one not dropping the capabilities at all (bottom right):
![image](https://user-images.githubusercontent

[2022-11-03 23:04] joebowbeer commented on #413
Thanks for the demo!

What if it is specified as mixed case? Kyverno's new policy will accept that, too, but will Linux? 😄

AFAICT, the PSA implementation is requiring all caps, and the last time I checked, Aqua's policy was as well.

I've actually fixed several of the lowercase exceptions, e.g., in ArgoCD and Grafana. In those cases, I used kyverno as a source of truth. (And I would prefer that k

[2022-11-04 21:36] joebowbeer opened #450 "[Bug] disallow-capabilities-strict policy does not conform to Pod Security Admission implementation or PSS spec"
### Kyverno Version

1.8.1

### Kubernetes Version

1.25.x

### Kubernetes Platform

KinD

### Description

The kyverno PSS/restricted policy will allow any mixed-case spelling of 'ALL' in securityContext.capabilities.drop['ALL']

For example, any of these are accepted: `all` | `ALL` | `aLL` | `All` | and so on

However, the PSS/restricted [spec](https://kubernetes.io/docs/concepts/security/pod-se

[2022-11-08 09:43] passie opened #451 "[Bug] Only last rule applied with multiple mutating rules"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

K3d

### Description

We are using the proxy cache functionality with in Harbor and need to change the registries to our internal registry server.
When applying one single rule this work fine, though when applying multiple rules for different registries, only applies the last rule.

Even splitting the rules in 2 d

[2022-11-08 12:42] chipzoller commented on #451
You'll need to use preconditions inside those `foreach` loops. Here's a snippet from the community which will do exactly this:

[code]

[2022-11-08 14:24] passie commented on #451
Thank you for your answer. This was indeed the solution. I completely overlooked at preconditions.

[2022-11-08 14:24] #451 closed

[2022-11-09 00:17] joebowbeer opened #452 "[Bug] restrict-escalation-verbs-roles ignores apiGroups and resources of RBAC rules"
### Kyverno Version

1.8.1

### Kubernetes Version

1.25.x

### Kubernetes Platform

KinD

### Description

The restrict-escalation-verbs-roles policy only examines the _verbs_ of the RBAC rules.

It does not look at apiGroups or resources.

It also matches wildcards '*' in the RBAC rules (which I consider a feature) despite a statement to the contrary in the description.

As a result, a benign me

[2022-11-09 11:49] devendrakumar9-deloitte opened #454 "Need some advice on livenessProbe and readinessProbe policy."
### Problem Statement

We have a situation where i want to exclude (Job Kind and some selected pods) from liveness and readiness probe cluster policy. can someone please share example conditions or rule how to use to exclude these resources.

### Solution Description

can someone please share example conditions or rule how to use to exclude these resources.

### Example "Good" Resource

_No respon

[2022-11-11 08:18] sankalp28 opened #455 "[Bug] drop 'ALL' is not covering the 'CAP_NET_RAW' inside capabilities for securityContext, throws warnings"
### Kyverno Version

1.8.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

Other (specify in description)

### Description

Despite using drop 'ALL' , in capabilities inside securityContext, get events throws warnings asking for to drop 'CAP_NET_RAW' , as seen in code snippet below:
[code]

**warnings seen for these values as below:**

`**Warning   PolicyViolation     deployment/yard-umb

[2022-11-11 11:13] chipzoller commented on #455
Kyverno's policy language is additive in nature. If you have two policies, one saying to require drop ALL and another to say drop CAP_NET_RAW, a Pod will have to do both to not get caught by any other rule. You can make adjustments here by using the policy spec level setting `applyRules` here: https://kyverno.io/docs/writing-policies/policy-settings/

[2022-11-11 17:40] alexo1088 opened #456 "[Bug] Baseline policies generate PolicyReports rather than ClusterPolicyReports"
### Kyverno Version

1.7.x

### Kubernetes Version

1.23.x

### Kubernetes Platform

EKS

### Description

I'm actually running Kyverno 1.8.1:
kyverno/kyverno-policies         	2.6.1        	v1.8.1
kyverno/kyverno                  	2.6.1        	v1.8.1

Not sure why I can't select that in the drop down.

I'm curious as to why the baseline policies generate policy reports rather than cluster policy

[2022-11-11 17:49] chipzoller commented on #456
The type of report is not determined by the type of policy but rather by the resource.

https://kyverno.io/docs/policy-reports/

[2022-11-11 18:08] alexo1088 commented on #456
Thanks!  I realized that after asking within the slack channel.  I'll go ahead and close.

[2022-11-11 18:09] #456 closed

[2022-11-13 01:31] joebowbeer opened #457 "[Enhancement] Document autogen limitation in disallow_default_namespace"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

KinD

### Description

Please add a comment to [this](https://github.com/kyverno/policies/blob/main/best-practices/disallow_default_namespace/disallow_default_namespace.yaml) and similar policies explaining why autogen is disabled in this case; an additional rule is added for pod controllers in place of autogen.

[2022-11-14 10:48] sankalp28 commented on #455
just to clarify more,

is this not okay:
[code]
if i want to use drop capabilities to drop all ,

or is it that i need to use
[code]

i get the warnings to drop "ALL" in deployment object and also drop "CAP_NET_RAW" in pod object of the same namespace.

[2022-11-14 12:57] chipzoller commented on #455
The first is fine if you want to drop all capabilities.

[2022-11-14 15:02] sankalp28 commented on #455
I have tried using just the ALL option, but then i get the warning in the get events logs for the same namespace in deployment object asking containers to drop CAP_NET_RAW like I mentioned in warnings above. To get rid of this i have to specifically use option 2

[code]

[2022-11-14 15:29] chipzoller commented on #455
As I said, it's because you also have a policy that says to drop `CAP_NET_RAW`.

[2022-11-14 21:45] joebowbeer commented on #450
@chipzoller Based on feedback I received from a PSA implementer, I recommend reverting the change to kyverno/policies/pod-security in #421 and the similar change to kyverno/kyverno/charts in https://github.com/kyverno/kyverno/pull/4954

I would, though, retain the case-insensitive handling in the best practices policy - as an example of how to express this leniently.

Regarding kyverno's pod-secur

[2022-11-14 22:02] chipzoller commented on #450
What is harm in leaving them as is? It has no negative functional impact from what I can tell.

[2022-11-15 00:12] joebowbeer commented on #450
@chipzoller You're asking what is wrong with not implementing the spec? 😄

FWIW, The PSA maintainer I spoke to would prefer that all the pod-security implementations match each other and the spec.

I think there are several possible "harms" that can come from this:

1. The most likely one to affect me is that I'm using kyverno CLI to pre-validate manifests for my cluster. If kyverno accepts a mani

[2022-11-15 19:22] JimBugwadia opened #458 "[Sample] add GitOpsCon 2022 policies"
### Problem Statement

Add sample policies from:

https://github.com/Avni-Sharma/gitopscon_na_2022_session/tree/main/policies

### Solution Description

Sample policies for ArgoCD, CAPI, Kyverno:

https://github.com/Avni-Sharma/gitopscon_na_2022_session/tree/main/policies

### Example "Good" Resource

_No response_

### Example "Bad" Resource

_No response_

### Other Comments

_No response_

###

[2022-11-16 17:46] jemag commented on #455
@chipzoller what is the intent of the https://github.com/kyverno/policies/blob/main/best-practices/require_drop_cap_net_raw/require_drop_cap_net_raw.yaml policy?

Is it not to verify that the underlying container does not have access to this capability? If that is the case, "ALL" would also succeed in doing so.

If that is not the case, is there any advantage, in terms of security, to verifying on

[2022-11-16 18:07] chipzoller commented on #455
The intent of that policy is only to drop one specific capability. Yes, we understand `ALL` would also do the job, but some users want explicit control, and that's what this policy does. Policies in the library are just "options" that are available. They're not designed to be taken all together.

I'm closing this issue since it doesn't seem to be a bug but happy to continue discussions.

[2022-11-16 18:07] #455 closed

[2022-11-23 13:14] gbhi opened #460 "Kyverno Mutate Policy to replace the metada "annotation" key with some other key name"
### Kyverno Version

1.7.x

### Kubernetes Version

1.24.x

### Kubernetes Platform

Bare metal

### Description

Is there a Kyverno Mutate Policy to replace the metadata "annotation" key with some other key name ?

Example : Below is the Ingress Object where we have a Kong annotation key as "plugins.konghq.com", now in latest version of Kong new annotation key is "konghq.com/plugins" . Our requir

[2022-11-23 13:39] chipzoller commented on #460
Hi, this is interesting. This is required for a Kong upgrade? Can you point us to some documentation on this, please?

[2022-11-23 14:06] chipzoller commented on #460
Try this out:

[code]

[2022-11-28 13:52] haarchri opened #461 "[Bug]"
### Kyverno Version

1.7.x

### Kubernetes Version

1.22.x

### Kubernetes Platform

EKS

### Description

we created the following policy:

[code]

any reason why the secrets not synced to kube-system namespace? in all other namespaces the sync is working

### Steps to reproduce

create the policy
no secret in kube-system namespace

### Expected behavior

secret also created in kube-system namesp

[2022-11-28 14:16] chipzoller commented on #461
This isn't a bug with the policy. Kyverno by default excludes certain "core" Namespaces such as `kube-system` and the Kyverno Namespace via the [resource filter](https://kyverno.io/docs/installation/#resource-filters). Because these are excluded, there is no AdmissionReview request that Kyverno acknowledges from them, which means the `namespace: '{{request.object.metadata.name}}'` line will be emp

[2022-11-28 14:16] #461 closed

[2022-11-28 14:34] haarchri commented on #461
any option to sync imagepullsecrets to kube-system instead ?

[2022-11-28 18:47] #448 closed

[2022-11-28 18:57] #452 closed

[2022-11-28 19:06] chipzoller commented on #450
I don't see a problem with walking these back. I think it would be helpful for there to be some corresponding documentation on the Kubernetes PSA side to which we could point users for an "official" statement lest it seems like it's a Kyverno gap/oversight. If you'd like to propose at least the Kyverno side in PRs, that would be grand.

[2022-11-29 12:23] chipzoller commented on #461
You should just be able to remove the `namespace` field. Kyverno will add it as needed.